<div id="weare-leading" class="landing-page">
  <div class="container">
      <div class="weare-leading">
        <h2>We are leading the way in Technology <br/> Enabled Livestock Finance</h2>
        <p>We are constantly reimagining the way livestock are financed.</p>
        <a href="javascript:;" (click)="openGettingStartedModal(getStarted)">GET STARTED</a>
        <span><img data-aos="zoom-in" data-aos-duration="1500" src="assets/img/macbook.png" alt=""/></span>
      </div>  
  </div>
</div>           

<section id="about-section" >
  <div class="container">
    <div class="d-flex">
      <div class="avout-l">
        <h2>About Us</h2>
        <p>We beleive that livestock should be a standalone asset class. An asset class that attracts funding from banks and investors that recognise that livestock are an important part of their investment portfolios. </p>
        <p>We do not accept that a farmers ability to own livestock is limited by their ownership of bricks and mortar and each day we seek to develop new finance solutions for the worlds livestock producers so that they can grow their business and build their own farming legacy.</p>          
        <p>We we are working with disruptive banks and leading edge farmers to implement cutting edge financial solutions. Solutions that are redefining the way that livestock are financed.</p>
        <p>We are seeking more farmers interested in working with us to make livestock a standalone asset class!</p>
      </div>
      <div class="avout-r">
        <img data-aos="fade-up" data-aos-duration="1500" class="about-img-02" src="assets/img/thumb-2.png" alt=""/>
        <img data-aos="fade-down" data-aos-duration="1500" class="about-img-01" src="assets/img/thumb-1.png" alt=""/>
      </div>
    </div>
  </div> 
</section>

<section id="finance-solutions" >
  <div class="container"> 
    <h2>Finance Solutions</h2>
    <ul class="d-flex">
        <li data-aos="flip-left" data-aos-duration="1500">
          <div class="finance-solutions-box">
              <div class="finance-solutions-img">
                <span><img src="assets/img/img-01.png" alt="" /></span>
                <h3>Feedlot Finance</h3>
              </div>
              <div class="finance-solutions-body">
                <p>We are redefining the way livestock finance is made available to the feedlot industry.</p>
                <p>Unlike other lenders who are simply focused on bricks and mortar, we make finance available to you against the value of your forward livestock sales contracts.</p>
              </div>  
          </div>
        </li> 
        <li data-aos="flip-right" data-aos-duration="1500">
            <div class="finance-solutions-box">
                <div class="finance-solutions-img">
                  <span><img src="assets/img/img-02.png" alt="" /></span>
                  <h3>Dairy Cow Finance</h3>
                </div>
                <div class="finance-solutions-body">
                  <p>We plan on redefining the way livestock finance is made available to the Dairy industry.</p>
                  <p>We expect to launch our solution in late 2019 but encourage interested producers to enquire below so that we can keep you up to date.</p>
                </div>  
            </div>
          </li>
          <li data-aos="flip-left" data-aos-duration="1500">
              <div class="finance-solutions-box">
                  <div class="finance-solutions-img">
                    <span><img src="assets/img/img-03.png" alt="" /></span>
                    <h3>Piggery Finance</h3>
                  </div>
                  <div class="finance-solutions-body">
                    <p>We plan on redefining the way livestock finance is made available to the Pork industry.</p>
                    <p>We are seeking interested farmers to contact us to help us tailor the solutions that the industry needs!</p>
                  </div>  
              </div>
          </li>
      </ul>
  </div>
</section>

<section id="how-work">
  <div class="container">
    <h2>How it Works</h2>  
    
      <ul class="d-flex">
        <li data-aos="fade-right" data-aos-duration="1500">
          <div class="how-work-box">
            <span>01</span>
            <h3>Enquire</h3>
            <p>We would love to receive your enquiry to start a conversation about your business objectives, expansion plans and finance needs.</p>
          </div>    
        </li>
        <li data-aos="fade-left" data-aos-duration="1500">
          <div class="how-work-box">
              <span>02</span>
              <h3>Application</h3>
              <p>A member of our team will contact you directly to discuss your application and will be there to help you at every step along the way</p>
            </div>    
          </li>
        <li data-aos="fade-right" data-aos-duration="1500">
            <div class="how-work-box">
              <span>03</span>
              <h3>Facility</h3>
              <p>Successful applicants will be given a facility that allows them to manage their finances on their own terms</p>
            </div>    
          </li>
        <li data-aos="fade-left" data-aos-duration="1500">
              <div class="how-work-box">
                <span>04</span>
                <h3>Contracts</h3>
                <p>The Facility can be drawn down when each new contract is executed. We will make 90% of the contracts future value available to you within 48 hours of the contract being executed</p>
              </div>    
          </li>
      </ul>
    
    <div class="how-work-btn"><a href="javascript:;" (click)="openGettingStartedModal(getStarted)">GET STARTED</a></div>
  </div>
</section>

<section id="countries">
  <div class="container">
    <h2>Countries</h2>
    <p>We do business on a global scale and are always seeking new opportunities around the world.<br/>
        We have a low cost of capital and access to a global pool of funds that allows us to competitively <br/>
        finance produces in their local currencies across the globe.</p>
    <span data-aos="zoom-in" data-aos-duration="1500"><img src="assets/img/svg/map.svg" alt="" /></span>    
  </div>
</section>

<section id="want-started">
  <div class="container" data-aos="zoom-in" data-aos-duration="1500">
    <h2>Want to Get Started?</h2>
    <p>Click on the button bellow and fill up the enquiry.</p>
    <a href="javascript:;" (click)="openGettingStartedModal(getStarted)">GET STARTED</a>
  </div>
</section>

<ng-template #getStarted>
  <div class="modal-body">
      <div class="get-started-head">
        <h2>Get Started</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur nulla <br/> nec interdum scelerisque.</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="getStartModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="getting_started">
      <div class="get-started-body d-flex">
        <div class="login-input">
            <label>First Name</label>
            <input type="text" name="fname" formControlName="fname" [(ngModel)]="userdata.first_name">
            <div class="cust_err_msg" *ngIf="getting_started_validation && !getting_started.controls['fname'].valid">
                <span *ngIf="getting_started.controls['fname'].errors['required']" class="text-danger">First name is required.</span>
                <span *ngIf="!getting_started.controls['fname'].errors['required'] && getting_started.controls['fname'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
            </div>
        </div>
        <div class="login-input">
            <label>Surname</label>
            <input type="text" formControlName="lname" name="lname" [(ngModel)]="userdata.last_name">
            <div class="cust_err_msg" *ngIf="getting_started_validation && !getting_started.controls['lname'].valid">
              <span *ngIf="getting_started.controls['lname'].errors['required']" class="text-danger">Surname is required.</span>
              <span *ngIf="!getting_started.controls['lname'].errors['required'] && getting_started.controls['lname'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
            </div>
        </div>

        <div class="login-input">
            <label>Company Name</label>
            <input type="text" formControlName="company_name" name="company" [(ngModel)]="userdata.company_name">
            <div class="cust_err_msg" *ngIf="getting_started_validation && !getting_started.controls['company_name'].valid">
              <span *ngIf="getting_started.controls['company_name'].errors['required']" class="text-danger">Company name is required.</span>
              <span *ngIf="!getting_started.controls['company_name'].errors['required'] && getting_started.controls['lname'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
            </div>
        </div>
        <div class="login-input">
            <label>Email</label>
            <input type="email" formControlName="email" name="email" [(ngModel)]="userdata.email" >
            <div class="cust_err_msg" *ngIf="getting_started_validation && !getting_started.controls['email'].valid">
              <span *ngIf="getting_started.controls['email'].errors['required']" class="text-danger">Email is required.</span>
              <span *ngIf="!getting_started.controls['email'].errors['required'] && getting_started.controls['email'].errors['email']" class="text-danger">Please enter valid email.</span>
              <span *ngIf="!getting_started.controls['email'].errors['required'] && getting_started.controls['email'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
            </div>
        </div>

        <div class="login-input">
            <label>Enquiring about</label>
            <div class="select-wrap">
              <select name="enquiring_about" formControlName="enquiring_about" [(ngModel)]="userdata.enquiring_about">
                  <option value="producer looking for feedlot finance">Producer looking for Feedlot Finance</option>
                  <option value="producer looking for dairy cow finance">Producer looking for Dairy Cow Finance</option>
                  <option value="producer looking for piggery finance">Producer looking for Piggery Finance</option>
                  <option value="investor seeking livestock investments">Investor seeking livestock investments</option>
              </select>
              <div class="cust_err_msg" *ngIf="getting_started_validation && !getting_started.controls['enquiring_about'].valid">
                <span *ngIf="getting_started.controls['enquiring_about'].errors['required']" class="text-danger">Enquiring about is required.</span>
                <span *ngIf="!getting_started.controls['enquiring_about'].errors['required'] && getting_started.controls['enquiring_about'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
              </div>
            </div>
        </div>
        <div class="login-input">
            <label>Finance Solution Required in</label>
            <div class="select-wrap">
              <select name="finance_solution" formControlName="finance_solution" [(ngModel)]="userdata.finance_solution">
                <option *ngFor="let c of country_list;" value="{{c['_id']}}">{{c['name']}}</option>
                
              </select>
              <div class="cust_err_msg" *ngIf="getting_started_validation && !getting_started.controls['finance_solution'].valid">
                <span *ngIf="getting_started.controls['finance_solution'].errors['required']" class="text-danger">Finance Solution is required.</span>
                <span *ngIf="!getting_started.controls['finance_solution'].errors['required'] && getting_started.controls['finance_solution'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
              </div>
           </div>   
        </div>

        <div class="login-input">
            <label>Your Current Sales</label>
            <div class="select-wrap">
              <select name="current_sale" formControlName="current_sale" [(ngModel)]="userdata.current_sales">
                <option value="less than $1 million">Less than $1 Million / annum</option>
                <option value="$1-5 million / annum">$1-5 Million / annum</option>
                <option value="greater than $5 million">Greater than $5 Million / annum</option>
              </select>
              <div class="cust_err_msg" *ngIf="getting_started_validation && !getting_started.controls['current_sale'].valid">
                <span *ngIf="getting_started.controls['current_sale'].errors['required']" class="text-danger">Current Sales is required.</span>
                <span *ngIf="!getting_started.controls['current_sale'].errors['required'] && getting_started.controls['current_sale'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
              </div>
            </div>  
        </div>
        <div class="login-input">
            <label>Your 1-3 year Sales Ambitions</label>
            <div class="select-wrap">
              <select name="sale_ambition"  formControlName="sale_ambition" [(ngModel)]="userdata.sales_ambition">
                <option value="less than $1 million">Less than $1 Million / annum</option>
                <option value="$1-5 million / annum">$1-5 Million / annum</option>
                <option value="greater than $5 million">Greater than $5 Million / annum</option>
              </select>
              <div class="cust_err_msg" *ngIf="getting_started_validation && !getting_started.controls['sale_ambition'].valid">
                <span *ngIf="getting_started.controls['sale_ambition'].errors['required']" class="text-danger">Sales Ambitions is required.</span>
                <span *ngIf="!getting_started.controls['sale_ambition'].errors['required'] && getting_started.controls['sale_ambition'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
              </div>
            </div>  
        </div>
        <div class="get-started-btn">
          <button type="submit" [disabled]="getting_started_show_loader" (click)="addGettingStarted(getting_started.valid)">SUBMIT <i *ngIf="getting_started_show_loader"class="fa fa-spinner fa-spin"></i></button>
        </div>
      </div>
      </form>
  </div>
</ng-template>