<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Add Sales Contract</h3>
		</div>
		<div class="title-back-btn-r">
			<button routerLink="/dashboard/cow_bank"><span></span> <strong>BACK TO Sales Contract</strong></button>
		</div>
	</div>
</div>
<div class="according-wrap">
	<accordion>
	  <accordion-group heading="1. Contract Reference, Type And Details">
	    <div class="form-information">
			<div class="form-information-title">
				<h3>1.1 SALES INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Sales Contract Number</label>
							<input type="text" name="" placeholder="Property ID Code">
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>1.2 CONTRACT TYPE</h3>	
			</div>
			<div class="price-checkbox">
				<ul class="d-flex">
					<li>
						<h4>Fixed Price Contract</h4>
						<div class="checkbox">
							<input id="check1" type="checkbox" name="check" value="check1">
							<label for="check1">Price Grid</label>
			            </div>
					</li>
					<li>
						<h4></h4>
						<div class="checkbox">
							<input id="check12" type="checkbox" name="check" value="check12">
							<label for="check12">Price Adjustment Table (Section 4)</label>
			            </div>
					</li>
					<li>
						<h4>Formula Priced Contract</h4>
						<div class="checkbox">
							<input id="check13" type="checkbox" name="check" value="check13">
							<label for="check13">Formula Price</label>
			            </div>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>1.3 DATE OF CONTRACT</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Date</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="Property ID Code">
								<i></i>
							</div>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>1.4 BUYER</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Approved Costumers</label>
							<div class="select-wrap">
				            	<select>
				                	<option>Lorem Ipsum 01</option>
				                	<option>Lorem Ipsum 02</option>
				                	<option>Lorem Ipsum 03</option>
				              	</select>
				            </div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Company Registration Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="Victoria">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Australia">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="text" name="" placeholder="+61 491 570 157">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="text" name="" placeholder="loremipsum@gmail.com">
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>1.5 SELLER</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Approved Costumers</label>
							<div class="select-wrap">
				            	<select>
				                	<option>Lorem Ipsum 01</option>
				                	<option>Lorem Ipsum 02</option>
				                	<option>Lorem Ipsum 03</option>
				              	</select>
				            </div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Company Registration Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="Victoria">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Australia">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="text" name="" placeholder="+61 491 570 157">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="text" name="" placeholder="loremipsum@gmail.com">
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>1.6 Sellers AGENT (IF APPLICABLE)</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Approved Costumers</label>
							<div class="select-wrap">
				            	<select>
				                	<option>Lorem Ipsum 01</option>
				                	<option>Lorem Ipsum 02</option>
				                	<option>Lorem Ipsum 03</option>
				              	</select>
				            </div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Company Registration Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="Victoria">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Australia">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="text" name="" placeholder="+61 491 570 157">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="text" name="" placeholder="loremipsum@gmail.com">
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>1.6 Buyers (IF APPLICABLE)</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Approved Costumers</label>
							<div class="select-wrap">
				            	<select>
				                	<option>Lorem Ipsum 01</option>
				                	<option>Lorem Ipsum 02</option>
				                	<option>Lorem Ipsum 03</option>
				              	</select>
				            </div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Company Registration Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="Victoria">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Australia">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="text" name="" placeholder="+61 491 570 157">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="text" name="" placeholder="loremipsum@gmail.com">
						</div>
					</li>
				</ul>	
			</div>
		</div>
	  </accordion-group>
	  <accordion-group heading="2. Cattle Details">
	    <div class="form-information">
			<div class="form-information-title">
				<h3>2.1 cattle</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Description</label>
							<input type="text" name="" placeholder="Property ID Code">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Weight/Head</label>
									<div class="select-wrap">
						            	<select>
						                	<option>Weight/Head 01</option>
						                	<option>Weight/Head 02</option>
						                	<option>Weight/Head 03</option>
						              	</select>
						            </div>
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Unit</label>
									<div class="select-wrap">
						            	<select>
						                	<option>Unit 01</option>
						                	<option>Unit 02</option>
						                	<option>Unit 03</option>
						              	</select>
						            </div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="custom-column-ul">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Age Range (months)</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="Property ID Code">
								<i></i>
							</div>
						</div>
					</li>
					<li>
						<div class="or-option">to</div>
					</li>
					<li>
						<div class="login-input">
							<label>Age Range (months)</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="Property ID Code">
								<i></i>
							</div>
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>2.2 QUALITY</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Muscle Score</label>
							<input type="text" name="" placeholder="Muscle Score">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Fat Score</label>
							<input type="text" name="" placeholder="Fat Score">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Fat Score</label>
							<input type="text" name="" placeholder="Fat Score">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Dentition</label>
							<input type="text" name="" placeholder="Dentition">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label class="d-flex">Assessment <div class="qietion-icon"></div></label>
							<input type="text" name="" placeholder="Property ID Code">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Agreed Number of Assessors</label>
							<input type="text" name="" placeholder="Agreed Number of Assessors">
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>2.3 QUANTITY (exact number must be delivered)</h3>	
			</div>
			<div class="custom-quantity-ul">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Description</label>
							<input type="text" name="" placeholder="Property ID Code">
						</div>
					</li>
					<li>OR</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Weight (KG)</label>
									<input type="text" name="" placeholder="Weight (KG)">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Unit</label>
									<div class="select-wrap">
						            	<select>
						                	<option>Unit 01</option>
						                	<option>Unit 02</option>
						                	<option>Unit 03</option>
						              	</select>
						            </div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="custom-quantity-ul-btm">
				<ul class="d-flex">
					<li><h6>Weights will be final by</h6></li>
					<li>
						<div class="login-input">
							<label>Weighing Method</label>
							<input type="text" name="" placeholder="Weighing Method">
						</div>
					</li>
					<li><h6>at</h6></li>
					<li>
						<div class="login-input">
							<label>Specified Place</label>
							<input type="text" name="" placeholder="Specified Place">
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>2.4 QUANTITY TOLERANCES</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Where number of head is specified (exact number must be delivered)</label>
							<input type="text" name="" placeholder="">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Weight (%)</label>
									<input type="text" name="" placeholder="+/-">
								</div>	
							</li>
							<li>
								<div class="login-input">
									<label>Weight (KG)</label>
									<input type="text" name="" placeholder="+/-">
								</div>	
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>2.5 DELIVERY DATE</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>From</label>
							<div class="calendar-wrap">
				            	<input type="" name="" placeholder="From">
				            	<i></i>
				            </div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>To</label>
							<div class="calendar-wrap">
				            	<input type="" name="" placeholder="To">
				            	<i></i>
				            </div>
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>2.6 DELIVERY SITE ADDRESS</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Approved Sites of the Customer</label>
							<div class="select-wrap-wrap">
				            	<select>
				            		<option>Approved 01</option>
				            		<option>Approved 02</option>
				            		<option>Approved 03</option>
				            	</select>
				            </div>
						</div>
					</li>
					<li></li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="" name="" placeholder="Address">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="" name="" placeholder="State">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="" name="" placeholder="Country">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="" name="" placeholder="Cell Phone Number">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="" name="" placeholder="Email">
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>2.7 AGENCY</h3>	
			</div>
			<div class="agency-checkbox">
				<ul class="d-flex">
					<li>
						<ul class="d-flex">
							<li>
								<h5>Is an Agent Being Used?</h5>
								<div class="checkbox">
									<input id="check51" type="checkbox" name="check" value="check51">
									<label for="check51">Yes</label>
						        </div>
							</li>
							<li>
								<h5></h5>
								<div class="checkbox">
									<input id="check52" type="checkbox" name="check" value="check52">
									<label for="check52">No</label>
						        </div>
							</li>
						</ul>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<h5 class="d-flex">Is the Agent a Del Credere Agent? <div class="qietion-icon"></div></h5>
								<div class="checkbox">
									<input id="check53" type="checkbox" name="check" value="check53">
									<label for="check53">Yes</label>
						        </div>
							</li>
							<li>
								<h5></h5>
								<div class="checkbox">
									<input id="check54" type="checkbox" name="check" value="check54">
									<label for="check54">No</label>
						        </div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>2.8 ASSESSORS</h3>	
				<h3>PREFFERED ASSESSOR</h3>
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Name</label>
							<input type="text" name="" placeholder="Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="text" name="" placeholder="Email">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="Address">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="State">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Country">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
				</ul>
			</div>
		</div>		
		<div class="form-information">
			<div class="form-information-title">
				<h3>SECOND CHOICE ASSESSOR</h3>
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Name</label>
							<input type="text" name="" placeholder="Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="text" name="" placeholder="Email">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="Address">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="State">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Country">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>THIRD CHOICE ASSESSOR</h3>
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Name</label>
							<input type="text" name="" placeholder="Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="text" name="" placeholder="Email">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="Address">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="State">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Country">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
				</ul>
			</div>
		</div>
	  </accordion-group>
	  <accordion-group heading="3. Price and Payment Details">
	    <div class="form-information">
			<div class="form-information-title">
				<h3>3.1 PRICE (GST INCLUSIVE)</h3>
				<h3>CONTRACT TYPE</h3>
			</div>
			<div class="contract-type">
				<ul class="d-flex">
					<li class="d-flex">
						<div class="checkbox">
							<input id="check501" type="checkbox" name="check" value="check501">
							<label for="check501">Fixed Price</label>
				        </div>
					</li>
					<li class="d-flex">
						<div class="checkbox">
							<input id="check502" type="checkbox" name="check" value="check502">
							<label for="check502">Formula Price</label>
				        </div>
					</li>
					<li>
						<div class="login-input">
							<label>Reference Indicator</label>
							<input type="text" name="" placeholder="Reference Indicator">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Reference Pricing Date</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="Reference Pricing Date">
								<i></i>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>	
	  	<div class="form-information">
			<div class="form-information-title">
				<h3>PRICE (SELECT ONE ONLY)</h3>
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex price-select-only">
					<li>
						<div class="price-select-radio radiobox">
							<input id="cent-kg" type="radio" name="gender" value="cent-kg">
							<label for="cent-kg"></label>
						</div>	
						<div class="price-select-input d-flex">
							<label>cents/Kg</label>
							<input type="" name="" placeholder="">
						</div>
						<div class="price-select-unit">
							<select>
								<option>Unit</option>
								<option>Unit 01</option>
								<option>Unit 02</option>
							</select>
						</div>
					</li>
					<li class="price-per-head">
						<div class="price-select-radio radiobox">
							<input id="cent-kg" type="radio" name="gender" value="cent-kg">
							<label for="cent-kg"></label>
						</div>	
						<div class="price-select-input d-flex">
							<label>per head</label>
							<span>$</span>
							<input type="" name="" placeholder="">
						</div>
					</li>
				</ul>
				<div class="checkbox see-attached-price">
					<input id="check101" type="checkbox" name="check" value="check101">
					<label for="check101">See Attached Price / Quality Grid</label>
		        </div>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>PRICE ADJUSTMENTS (SELECT ONE ONLY)</h3>
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex price-select-only price-adjustment-div">
					<li>
						<div class="price-select-radio radiobox">
							<input id="price-adjustment" type="radio" name="gender" value="price-adjustment">
							<label for="price-adjustment"></label>
						</div>	
						<div class="price-select-input d-flex">
							<label>Price Grid (reference Number)</label>
							<input type="" name="" placeholder="">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-information">
			<div class="form-information-title">
				<h3>SECTION 4 PRICE ADJUSTMENT TABLES (SELECT ONE ONLY)</h3>
			</div>	
			<div class="column-ul-li two-column-li buyer-table-div ">
				<ul class="d-flex">
					<li class="radiobox">
						<div class="radiobox-inr">
							<input id="buyer-table-01" type="radio" name="gender" value="buyer-table-01">
							<label for="buyer-table-01">Australian Industry Standard</label>
						</div>
					</li>
					<li class="radiobox">
						<div class="radiobox-inr">
							<input id="buyer-table-02" type="radio" name="gender" value="buyer-table-02">
							<label for="buyer-table-02">USA Standard</label>
						</div>
					</li>
					<li class="radiobox">
						<div class="radiobox-inr">
							<input id="buyer-table-03" type="radio" name="gender" value="buyer-table-03">
							<label for="buyer-table-03">Buyer Provided 1</label>
						</div>
					</li>
					<li class="radiobox">
						<div class="radiobox-inr">
							<input id="buyer-table-04" type="radio" name="gender" value="buyer-table-04">
							<label for="buyer-table-04">Buyer Provided 2</label>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-information">
			<div class="form-information-title">
				<h3>DRESSING PERCENTAGE</h3>
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex price-select-only price-adjustment-div">
					<li>
						<div class="price-select-radio radiobox">
							<input id="dressing-percentage" type="radio" name="gender" value="dressing-percentage">
							<label for="dressing-percentage"></label>
						</div>	
						<div class="price-select-input d-flex">
							<label>If required  %</label>
							<input type="" name="" placeholder="">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-information">
			<div class="form-information-title">
				<h3>3.2 PAYMENT</h3>
			</div>
			<div class="the-buyer-shall">
				<p>The Buyer shall pay the Seller(s),  in full to their nominated bank account against a Tax Invoice supplied by the Seller(s). A Buyer shall provide, by prior arrangement between the Buyer & Seller, for Recipient Created Tax Invoice (RCTI) (or multiple RCTI's if required). Payment will be made by the Buyer to the Seller by electronic transfer to Sellers nominated bank account on or by:</p>
				<div class="login-input">
					<label class="d-flex">Days from date of Delivery <div class="qietion-icon"></div></label>
					<input name="" placeholder="" type="text">
				</div>
				<p>If the Seller uses an agent, the Buyer of the Livestock must pay the agent the full amount of the purchase price on receipt of a Tax Invoice. Payment is required prior to delivery unless some other time for payment is specified in a written agreement between the Buyer and the agent that was made prior to delivery.</p>
			</div>
		</div>	
		<div class="form-information">
			<div class="form-information-title">
				<h3>3.3 AGENTS COMMISSION (SELECT ONE ONLY)</h3>
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex price-select-only">
					<li>
						<div class="price-select-radio radiobox">
							<input id="cent-kg-1" type="radio" name="gender" value="cent-kg-1">
							<label for="cent-kg-1"></label>
						</div>	
						<div class="price-select-input d-flex">
							<label>cents/Kg</label>
							<input type="" name="" placeholder="">
						</div>
						<div class="price-select-unit">
							<select>
								<option>Unit</option>
								<option>Unit 01</option>
								<option>Unit 02</option>
							</select>
						</div>
					</li>
					<li class="price-per-head">
						<div class="price-select-radio radiobox">
							<input id="cent-kg-2" type="radio" name="gender" value="cent-kg-2">
							<label for="cent-kg-2"></label>
						</div>	
						<div class="price-select-input d-flex">
							<label>per head</label>
							<span>$</span>
							<input type="" name="" placeholder="">
						</div>
					</li>
					<li class="price-per-head">
						<div class="price-select-radio radiobox">
							<input id="cent-kg-3" type="radio" name="gender" value="cent-kg-3">
							<label for="cent-kg-3"></label>
						</div>	
						<div class="price-select-input d-flex">
							<label>% of invoice</label>
							<span>%</span>
							<input type="" name="" placeholder="">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-information">
			<div class="form-information-title">
				<h3>3.4 PASSING OF TITLE (SELECT ONE ONLY)</h3>
			</div>
			<div class="the-buyer-shall">
				<p>Title to the cattle subject to this Contract passes to the Buyer free from encumberances and all other adverse interests on:</p>
				<ul class="passing-of d-flex">
					<li>
						<div class="passing-of-li">
							<div class="radiobox">
								<input id="payment-1" type="radio" name="gender" value="payment-1">
								<label for="payment-1">Full Payment</label>
							</div>
						</div>	
					</li>
					<li>
						<div class="passing-of-li">
							<div class="radiobox">
								<input id="payment-2" type="radio" name="gender" value="payment-2">
								<label for="payment-2">Delivery</label>
							</div>
						</div>	
					</li>
					<li>
						<div class="passing-of-li d-flex">
							<div class="radiobox">
								<input id="payment-3" type="radio" name="gender" value="payment-3">
								<label for="payment-3">Other</label>
							</div>
							<input type="text" name="" placeholder="">
						</div>	
					</li>
				</ul>
				<p>For avoidance of doubt, unless otherwise indicated, passing of title will occur on full payment of cattle in accordance with Australian Cattle Trade Rules.</p>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>3.5 LIQUIDATED DAMAGES</h3>
			</div>
			<div class="the-buyer-shall">
				<p>Liquidated Damages are applicable in this contract as goverened by the "The Australian Cattle Trade Rules" enforcing of payment - in the case of default - the amount equal to the undelivered component of the "Delivered Quantity" multiplied by the difference between the Contract Amount and the Fair Market Price.</p>
			</div>
		</div>	

	  </accordion-group>
	  <accordion-group heading="4. Price Adjusments Tables">
	    <div class="form-information">
			<div class="form-information-title">
				<h3>TABLE A - PRICE ADJUSTMENTS FOR INDIVIDUAL ANIMAL WEIGHT</h3>
			</div>
			<div class="adjusments-individual">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>CENTS/KG DISCOUNT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label>40.1Kg or more heavier than specified weight</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>20.1Kg to 40Kg heavier than specified weight</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>20Kg lighter or 20Kg heavier than specified weight</label></td>
							<td><input type="text" name="" placeholder="PAR - No Adjustment"></td>
						</tr>
						<tr>
							<td><label>20.1Kg to 40Kg lighter than specified weight</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>40.1Kg or more heavier than specified weight</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>TABLE B - PRICE ADJUSTMENTS FOR INDIVIDUAL ANIMAL FAT SCORE</h3>
			</div>
			<div class="adjusments-individual">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>CENTS/KG DISCOUNT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label>Fat Score 1</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>Fat Score 2</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>Fat Score 3</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>Fat Score 4</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>Fat Score 5</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
		<div class="form-information">
			<div class="form-information-title">
				<h3>TABLE C - PRICE ADJUSTMENTS FOR INDIVIDUAL ANIMAL MUSCLE SCORE</h3>
			</div>
			<div class="adjusments-individual">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>CENTS/KG DISCOUNT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label>Muscle Score A</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>Muscle Score B</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>Muscle Score C</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>Muscle Score D</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>Muscle Score E</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>TABLE D - PRICE ADJUSTMENTS FOR INDIVIDUAL ANIMAL DENTITION</h3>
			</div>
			<div class="adjusments-individual">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>CENTS/KG DISCOUNT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label>1</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>1</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>2</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>3</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>4</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
							<tr>
							<td><label>5</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	  	<div class="form-information">
			<div class="form-information-title">
				<h3>TABLE E - ALTERNATIVE PRICE ADJUSTMENTS TABLE</h3>
			</div>
			<div class="adjusments-individual">
				<table class="table">
					<thead>
						<tr>
							<th>PERMANENT INCISSORS</th>
							<th>CENTS/KG DISCOUNT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label>1</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>1</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>2</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>3</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
						<tr>
							<td><label>4</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
							<tr>
							<td><label>5</label></td>
							<td><input type="text" name="" placeholder=""></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	  </accordion-group>
	  <accordion-group heading="5. Trade Rules and Arbitration">
	    <div class="trade-rule-top">
	    	The Trade Rules governing this contract are to be attached at the time of Contract Execution.<br/>
	    	Any Dispute arising between the parties under or in any way relating to this Contract or its formation shall be handled in accordance with the Dispute<br/> Resolution Rules contained in these Trade Rules
	    </div>
	    <div class="trade-rule-btm">
	    	<ul class="d-flex">
	    		<li>
	    			<div class="pdf-div d-flex">
	    				<i></i><strong>Traderules.pdf</strong>
	    			</div>
	    		</li>
	    		<li class="country-trade">
	    			<h5>COUNTRY TRADE RULES</h5>	
	    			<ul class="d-flex radiobox">
	    				<li>
	    					<div class="radiobox-inr">
								<input id="male" type="radio" name="gender" value="male">
								<label for="male">Australia</label>
							</div>	
	    				</li>
	    				<li>
	    					<div class="radiobox-inr">
								<input id="female" type="radio" name="gender" value="female">
								<label for="female">New Zealand</label>
							</div>	
	    				</li>
	    			</ul>
	    		</li>
	    	</ul>
	    </div>
	  </accordion-group>
	  <accordion-group heading="6. Other Contract Terms and amendments to Trade Rules">
	    <div class="contact-textarea">
	    	<textarea>Lorem Ipsum</textarea>
	    </div>
	  </accordion-group>
	  <accordion-group heading="7. Execution">
	    <div class="form-information">
			<div class="form-information-title">
				<h3>SIGNED BY THE BUYER / DULY AUTHORISED PERSON</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Name</label>
							<input type="text" name="" placeholder="Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Date</label>
							<div class="calendar-wrap">
								<input type="" name="" placeholder="">
								<i></i>
							</div>
						</div>
					</li>
				</ul>	
			</div>
			<div class="digital-signature">Signature</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>SIGNED BY THE SELLER / DULY AUTHORISED PERSON</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Name</label>
							<input type="text" name="" placeholder="Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Date</label>
							<div class="calendar-wrap">
								<input type="" name="" placeholder="">
								<i></i>
							</div>
						</div>
					</li>
				</ul>	
			</div>
			<div class="digital-signature">Signature</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>SIGNED BY THE AGENT / DULY AUTHORISED PERSON</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Name</label>
							<input type="text" name="" placeholder="Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Date</label>
							<div class="calendar-wrap">
								<input type="" name="" placeholder="">
								<i></i>
							</div>
						</div>
					</li>
				</ul>	
			</div>
			<div class="digital-signature">Signature</div>
			<div class="digital-signature-btn form-btn d-flex">
				<button class="btn-css green-btn-bg">SAVE</button>
				<button class="btn-css white-btn-bdr">CANCEL</button>
			</div>
		</div>
	  </accordion-group>
	</accordion>
</div>	