<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Purchase Instruction</h3>
		</div>
		<div class="title-back-btn-r">
			<button type="submit" routerLink="/dashboard/cow_bank/induction_feed_cost"><span></span> 
				<strong>BACK TO CATTLE PURCHASE</strong>
			</button>
		</div>
	</div>
	<div class="form-information">
		<div class="form-information-title">
			<h3>PURCHASE INFORMATION</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Purchasing For Contract Number</label>
						<div class="select-wrap">
							<select>
								<option>Purchasing 01</option>
								<option>Purchasing 02</option>
								<option>Purchasing 03</option>
								<option>Purchasing 04</option>
							</select>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>