<div class="content-wrap">
  	<div class="content-wrap-inr">
  		<div class="content-title full-bdr-btm"><h2>Cow Cloud</h2></div>	
      	<div class="content-title cow-summary-title"><h2>Cow summary</h2></div>
      	<div class="form-information">
			<div class="form-information-title">
				<h3>INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Animal EID</label>
							<input type="text" name="" placeholder="1234657980">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Health Status</label>
							<input type="text" name="" placeholder="Health">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="Victoria">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Australia">
								</div>
							</li>
						</ul>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>PURCHASED FOR CONTRACT</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Date</label>
									<input type="text" name="" placeholder="10/07/2018">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Document Ref</label>
									<input class="green-text" type="text" name="" placeholder="1234567890 »">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>$ / Kg</label>
									<input type="text" name="" placeholder="$ 100">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>$ / Head</label>
									<input type="text" name="" placeholder="$ 100">
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>PURCHASE ORDER</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Date</label>
									<input type="text" name="" placeholder="10/07/2018">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Document Ref</label>
									<input class="green-text" type="text" name="" placeholder="1234567890 »">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>$ / Kg</label>
									<input type="text" name="" placeholder="$ 100">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>$ / Head</label>
									<input type="text" name="" placeholder="$ 100">
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
		</div>
  		<div class="form-information">
			<div class="form-information-title">
				<h3>ARRIVAL</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Date</label>
									<input type="text" name="" placeholder="10/07/2018">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Document Ref</label>
									<input class="green-text" type="text" name="" placeholder="1234567890 »">
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
		</div>	
 		<div class="form-information">
			<div class="form-information-title">
				<h3>DELIVERY</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Date</label>
									<input type="text" name="" placeholder="10/07/2018">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Document Ref</label>
									<input class="green-text" type="text" name="" placeholder="1234567890 »">
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
		</div>	
 		<div class="form-information">
			<div class="form-information-title">
				<h3>DEATH</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Date</label>
									<input type="text" name="" placeholder="10/07/2018">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Document Ref</label>
									<input class="green-text" type="text" name="" placeholder="1234567890 »">
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
		</div>
 		<div class="form-information">
			<div class="form-information-title">
				<h3>SICK</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Date</label>
									<input type="text" name="" placeholder="10/07/2018">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Document Ref</label>
									<input class="green-text" type="text" name="" placeholder="1234567890 »">
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
		</div>
 		<div class="form-information">
			<div class="form-information-title">
				<h3>INDUCTION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Date</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="10/07/2018">
								<i></i>
							</div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Document Ref</label>
							<input class="green-text" type="text" name="" placeholder="1234567890 »">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Induction Weight</label>
							<input class="green-text" type="text" name="" placeholder="Lorem Ipsum">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Target Exit Weight</label>
							<input class="green-text" type="text" name="" placeholder="Lorem Ipsum">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Estimated Days on Feed</label>
							<input class="green-text" type="text" name="" placeholder="100">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Required Weight Gain</label>
							<input class="green-text" type="text" name="" placeholder="100">
						</div>
					</li>
				</ul>
			</div>	
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>FEED INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Estimated Days on Feed</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="200">
								<i></i>
							</div>
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>$ / Head</label>
									<input class="green-text" type="text" name="" placeholder="$ 100">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Margin / Feed %</label>
									<input class="green-text" type="text" name="" placeholder="$ 100">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Actual Days on Feed</label>
							<input class="green-text" type="text" name="" placeholder="200">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>$ / Head</label>
									<input class="green-text" type="text" name="" placeholder="$ 100">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Margin / Feed %</label>
									<input class="green-text" type="text" name="" placeholder="$ 100">
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
 		<div class="form-information">
			<div class="form-information-title">
				<h3>TODAYS WEIGHT</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Todays Weight - Original Estimate</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="100">
								<i></i>
							</div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Todays Weight - Based on Readjustment from Scale Record</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="100">
								<i></i>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
 		<div class="form-information">
			<div class="form-information-title">
				<h3>LIABILITY INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Feed Liability Estimate (@Induction)</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="100">
								<i></i>
							</div>
						</div>
					</li>
					<li></li>
					<li>
						<div class="login-input">
							<label>Remaining Days on Feed</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="100">
								<i></i>
							</div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Remaining Total Feed Liability</label>
							<div class="calendar-wrap">
								<input type="text" name="" placeholder="$ 100">
								<i></i>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>VALUE CHANGES ANALYSIS OVER FEEDING PERIOD</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Grab to Show</label>
							<div class="select-wrap">
								<select>
									<option></option>
									<option></option>
								</select>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
 		<div class="value-changes form-information">
 			<img alt="" src="assets/img/graph.png">
 		</div>
 		<div class="form-information">
 			<div class="add-another-location show-full-cow-profile-btn">
 				<div>
 					<button>SHOW FULL COW PROFILE</button>
 				</div>
 			</div>
 		</div>
 	</div>
</div>