<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>QUESTIONAIRE REF 123</h3>
		</div>
		<div class="title-back-btn-r">
			<button routerLink="/dashboard/cow_bank"><span></span> <strong>BACK TO ANIMAL WELFARE</strong></button>
		</div>
  </div>
  <div class="form-information quesitionaire-dtl">
    <ul class="d-flex">
      <li>
        <h4>QUESTION 1</h4>
        <div class="quesitionaire-dtl-box">
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
          <div class="radiobox square"> 
            <div class="radiobox-inr">
              <input id="buyer-table-01" type="radio" name="gender" value="buyer-table-01">
              <label for="buyer-table-01">Yes</label>
            </div>
          
            <div class="radiobox-inr">
              <input id="buyer-table-02" type="radio" name="gender" value="buyer-table-02">
              <label for="buyer-table-02">No</label>
            </div>
          </div>
        </div>
      </li>
      <li>
          <h4>ATTACH SUPPORTING DOCUMENT</h4>
          <div class="quesitionaire-dtl-box">
            <h6>Loremipsum-file.txt</h6>
          </div>
        </li>
    </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
      <ul class="d-flex">
        <li>
          <h4>QUESTION 2</h4>
          <div class="quesitionaire-dtl-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
            <div class="radiobox square"> 
              <div class="radiobox-inr">
                <input id="buyer-table-03" type="radio" name="gender" value="buyer-table-03">
                <label for="buyer-table-03">Yes</label>
              </div>
            
              <div class="radiobox-inr">
                <input id="buyer-table-04" type="radio" name="gender" value="buyer-table-04">
                <label for="buyer-table-04">No</label>
              </div>
            </div>
          </div>
        </li>
        <li>
            <h4>ATTACH SUPPORTING DOCUMENT</h4>
            <div class="quesitionaire-dtl-box">
              <h6>Loremipsum-file.txt</h6>
            </div>
          </li>
      </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
    <ul class="d-flex">
      <li>
        <h4>QUESTION 3</h4>
        <div class="quesitionaire-dtl-box">
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
          <div class="radiobox square"> 
            <div class="radiobox-inr">
              <input id="buyer-table-05" type="radio" name="gender" value="buyer-table-05">
              <label for="buyer-table-05">Yes</label>
            </div>
            <div class="radiobox-inr">
              <input id="buyer-table-06" type="radio" name="gender" value="buyer-table-05">
              <label for="buyer-table-06">No</label>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h4>ATTACH SUPPORTING DOCUMENT</h4>
          <div class="quesitionaire-dtl-box">
            <h6>Loremipsum-file.txt</h6>
          </div>
      </li>
    </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
      <ul class="d-flex">
        <li>
          <h4>QUESTION 4</h4>
          <div class="quesitionaire-dtl-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
            <div class="radiobox square"> 
              <div class="radiobox-inr">
                <input id="buyer-table-07" type="radio" name="gender" value="buyer-table-07">
                <label for="buyer-table-07">Yes</label>
              </div>
              <div class="radiobox-inr">
                <input id="buyer-table-08" type="radio" name="gender" value="buyer-table-08">
                <label for="buyer-table-08">No</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h4>ATTACH SUPPORTING DOCUMENT</h4>
            <div class="quesitionaire-dtl-box">
              <h6>Loremipsum-file.txt</h6>
            </div>
        </li>
      </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
      <ul class="d-flex">
        <li>
          <h4>QUESTION 5</h4>
          <div class="quesitionaire-dtl-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
            <div class="radiobox square"> 
              <div class="radiobox-inr">
                <input id="buyer-table-09" type="radio" name="gender" value="buyer-table-09">
                <label for="buyer-table-09">Yes</label>
              </div>
              <div class="radiobox-inr">
                <input id="buyer-table-10" type="radio" name="gender" value="buyer-table-10">
                <label for="buyer-table-10">No</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h4>ATTACH SUPPORTING DOCUMENT</h4>
            <div class="quesitionaire-dtl-box">
              <h6>Loremipsum-file.txt</h6>
            </div>
        </li>
      </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
      <ul class="d-flex">
        <li>
          <h4>QUESTION 6</h4>
          <div class="quesitionaire-dtl-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
            <div class="radiobox square"> 
              <div class="radiobox-inr">
                <input id="buyer-table-11" type="radio" name="gender" value="buyer-table-11">
                <label for="buyer-table-11">Yes</label>
              </div>
              <div class="radiobox-inr">
                <input id="buyer-table-12" type="radio" name="gender" value="buyer-table-12">
                <label for="buyer-table-12">No</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h4>ATTACH SUPPORTING DOCUMENT</h4>
            <div class="quesitionaire-dtl-box">
              <h6>Loremipsum-file.txt</h6>
            </div>
        </li>
      </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
      <ul class="d-flex">
        <li>
          <h4>QUESTION 7</h4>
          <div class="quesitionaire-dtl-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
            <div class="radiobox square"> 
              <div class="radiobox-inr">
                <input id="buyer-table-13" type="radio" name="gender" value="buyer-table-13">
                <label for="buyer-table-13">Yes</label>
              </div>
              <div class="radiobox-inr">
                <input id="buyer-table-14" type="radio" name="gender" value="buyer-table-14">
                <label for="buyer-table-14">No</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h4>ATTACH SUPPORTING DOCUMENT</h4>
            <div class="quesitionaire-dtl-box">
              <h6>Loremipsum-file.txt</h6>
            </div>
        </li>
      </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
      <ul class="d-flex">
        <li>
          <h4>QUESTION 8</h4>
          <div class="quesitionaire-dtl-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
            <div class="radiobox square"> 
              <div class="radiobox-inr">
                <input id="buyer-table-15" type="radio" name="gender" value="buyer-table-15">
                <label for="buyer-table-15">Yes</label>
              </div>
              <div class="radiobox-inr">
                <input id="buyer-table-16" type="radio" name="gender" value="buyer-table-16">
                <label for="buyer-table-16">No</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h4>ATTACH SUPPORTING DOCUMENT</h4>
            <div class="quesitionaire-dtl-box">
              <h6>Loremipsum-file.txt</h6>
            </div>
        </li>
      </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
      <ul class="d-flex">
        <li>
          <h4>QUESTION 9</h4>
          <div class="quesitionaire-dtl-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
            <div class="radiobox square"> 
              <div class="radiobox-inr">
                <input id="buyer-table-17" type="radio" name="gender" value="buyer-table-17">
                <label for="buyer-table-17">Yes</label>
              </div>
              <div class="radiobox-inr">
                <input id="buyer-table-18" type="radio" name="gender" value="buyer-table-18">
                <label for="buyer-table-18">No</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h4>ATTACH SUPPORTING DOCUMENT</h4>
            <div class="quesitionaire-dtl-box">
              <h6>Loremipsum-file.txt</h6>
            </div>
        </li>
      </ul>
  </div>

  <div class="form-information quesitionaire-dtl">
      <ul class="d-flex">
        <li>
          <h4>QUESTION 10</h4>
          <div class="quesitionaire-dtl-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>  
            <div class="radiobox square"> 
              <div class="radiobox-inr">
                <input id="buyer-table-19" type="radio" name="gender" value="buyer-table-19">
                <label for="buyer-table-19">Yes</label>
              </div>
              <div class="radiobox-inr">
                <input id="buyer-table-20" type="radio" name="gender" value="buyer-table-20">
                <label for="buyer-table-20">No</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h4>ATTACH SUPPORTING DOCUMENT</h4>
            <div class="quesitionaire-dtl-box">
              <h6>Loremipsum-file.txt</h6>
            </div>
        </li>
      </ul>
  </div>

  <div class="form-btn d-flex">
    <button class="btn-css green-btn-bg">SAVe</button>
    <button class="btn-css white-btn-bdr">Cancel</button>
  </div>
</div>