<div class="full-bdr-btm d-flex edit-add-option">
	<div class="edit-add-option-r d-flex">
		<button routerLink="/dashboard/cow_bank/hospitalised_cattle_record/add_sick_animal" class="btn-css green-btn-bg">Add new sick animal</button>
	</div>	
</div>
<div class="datatable-wrap">
	<table datatable class="table hover">
	  <thead>
	    <tr>
	      <th>
	      	<div class="checkbox">
				<input id="check11" type="checkbox" name="check" value="check11">
				<label for="check11"></label>
	        </div>
	      </th>
	      <th>HOSPITAL RECORD NUMBER</th>
	      <th>DATE</th>
	      <th>ANIMAL EID</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><div class="checkbox">
				<input id="check12" type="checkbox" name="check" value="check12">
				<label for="check12"></label>
	        </div></td>
	      <td class="green-text-bold">1234567890#</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check13" type="checkbox" name="check" value="check13">
				<label for="check13"></label>
	        </div></td>
	      <td class="green-text-bold">1234567890#</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check14" type="checkbox" name="check" value="check14">
				<label for="check14"></label>
	        </div></td>
	      <td class="green-text-bold">1234567890#</td>
	      <td>Pending</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check15" type="checkbox" name="check" value="check15">
				<label for="check15"></label>
	        </div></td>
	      <td class="green-text-bold">1234567890#</td>
	      <td>Pending</td>
	      <td>Auto Fill</td>
	    </tr>
	  </tbody>
  	</table>
</div>  	

