<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Add New Sick Animal</h3>
		</div>
		<div class="title-back-btn-r">
			<button type="submit" routerLink="/dashboard/cow_bank/hospitalised_cattle_record"><span></span> <strong>
			BACK TO HOSPITALISED CATTLE RECORD</strong>
			</button>
		</div>
	</div>
	<div class="form-information">
		<div class="form-information-title">
			<h3>1.1 SALES INFORMATION</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Hospital Record Number</label>
						<input type="text" name="" placeholder="Hospital">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Date of Instruction</label>
						<div class="calendar-wrap">
							<input type="text" name="" placeholder="28/08/2018">
							<i></i>
						</div>
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>Animal EID Number</label>
								<input type="text" name="" placeholder="Hospital">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Weight upon Hospital Entry</label>
								<input type="text" name="" placeholder="Hospital">
							</div>
						</li>
					</ul>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>Animal's Temperature upon Entry</label>
								<input type="text" name="" placeholder="Hospital">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Anticipated Health Issue</label>
								<input type="text" name="" placeholder="Hospital">
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>IF ASSESSED BY VET</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Company Name</label>
						<input type="text" name="" placeholder="Company Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Address</label>
						<input type="text" name="" placeholder="Address">
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>State</label>
								<input type="text" name="" placeholder="State">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Country</label>
								<input type="text" name="" placeholder="Country">
							</div>
						</li>
					</ul>
				</li>
				<li>
					<div class="login-input">
						<label>Cell Phone Number</label>
						<input type="text" name="" placeholder="1234657980">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Email</label>
						<input type="text" name="" placeholder="Email">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Vet Assessed Cause of Sickness</label>
						<div class="select-wrap">
							<select>
								<option>Sickness 01</option>
								<option>Sickness 02</option>
								<option>Sickness 03</option>
							</select>
						</div>
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Action to be taken</label>
						<div class="select-wrap">
							<select>
								<option>taken 01</option>
								<option>taken 02</option>
								<option>taken 03</option>
							</select>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>ESTIMATIVE SICK PERIOD</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Start Date</label>
						<div class="calendar-wrap">
							<input type="text" name="" placeholder="">
							<i></i>
						</div>
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>End Date</label>
						<div class="calendar-wrap">
							<input type="text" name="" placeholder="">
							<i></i>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>REFORECAST OF WEIGHT GAIN DURING SICK PERIOD</h3>	
		</div>
		<div class="reforecast-table">
			<table class="table">
				<thead>
					<tr>
						<th>DATE</th>
						<th>ORIGINAL WEIGHT GAIN FORECAST (KG)</th>
						<th>NEW FORECAST (KG)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
					</tr>
					<tr>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
					</tr>
					<tr>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
					</tr>
					<tr>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
					</tr>
					<tr>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
					</tr>
					<tr>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
					</tr>
					<tr>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
					</tr>
					<tr>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
						<td><input type="text" name="" placeholder=""></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<div class="form-information">
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Expected to return to Original Weight Gain Forecast post end date</label>
						<div class="select-wrap">
							<select>
								<option>Expected 01</option>
								<option>Expected 02</option>
								<option>Expected 03</option>
								<option>Expected 04</option>
							</select>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="form-information">
		<div class="form-information-title">
			<h3>IF NO, SPECIFY WEIGHT GAIN BELOW</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Weight Gain KGs/day</label>
						<input type="text" name="" placeholder="Weight">
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>Start Date</label>
								<div class="calendar-wrap">
									<input type="text" name="" placeholder="date">
									<i></i>
								</div>	
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>End Date</label>
								<div class="calendar-wrap">
									<input type="text" name="" placeholder="date">
									<i></i>
								</div>	
							</div>
						</li>
					</ul>
				</li>
			</ul>	
		</div>	
	</div>
	<div class="form-information">
		<div class="add-another-location add-another-row">
			<div>
				<button type="button">ADD ANOTHER ROW</button>
			</div>
		</div>
	</div>	
	<div class="form-information">
		<div class="form-information-title">
			<h3>TREATMENTS TO BE ADMINISTERED</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>TREATMENTS TO BE ADMINISTERED</label>
						<textarea>Add Notes Here</textarea>
					</div>
				</li>
			</ul>	
		</div>	
	</div>

	<div class="form-btn d-flex">
		<button class="btn-css green-btn-bg">SAVE</button>
		<button class="btn-css white-btn-bdr">CANCEL</button>
	</div>

</div>