<div class="full-bdr-btm d-flex edit-add-option">
	<div class="edit-add-option-l">
		<button class="edit-btn d-flex"> <span></span> <strong>EDIT</strong></button>
	</div>
	<div class="edit-add-option-r">
		<button routerLink="/dashboard/cow_setup/contract_farms/add" class="btn-css green-btn-bg">Add Contractor</button>
	</div>	
</div>
<div class="datatable-wrap">
	<table datatable class="row-border hover">
	  <thead>
	    <tr>
	      <th>
	      	<div class="checkbox">
				<input id="check11" type="checkbox" name="check" value="check11">
				<label for="check11"></label>
	        </div>
	      </th>
	      <th>PROPERTY ID CODE</th>
	      <th>FARM NAME</th>
	      <th>ADDRESS</th>
	      <th>STATE</th>
	      <th>COUNTRY</th>
	      <th>ZIP</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><div class="checkbox">
				<input id="check12" type="checkbox" name="check" value="check12">
				<label for="check12"></label>
	        </div></td>
	      <td>PROPERTY ID CODE #</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check13" type="checkbox" name="check" value="check13">
				<label for="check13"></label>
	        </div></td>
	      <td>PROPERTY ID CODE #</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check14" type="checkbox" name="check" value="check14">
				<label for="check14"></label>
	        </div></td>
	      <td>PROPERTY ID CODE #</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check15" type="checkbox" name="check" value="check15">
				<label for="check15"></label>
	        </div></td>
	      <td>PROPERTY ID CODE #</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	  </tbody>
  	</table>
</div>  	

