<header>
    <div class="container">
        <div class="header-wrap d-flex">
            <div class="logo"><a href="javascript:;"><img src="img/logo.png" alt="" /></a></div>
            <div class="header-nav">
                <ul class="d-flex">
                    <li routerLinkActive="active"><a href="javascript:;" routerLink="/">Home</a></li>
                    <li><a href="javascript:;" (click)="gotoDiv('about-section')">About us</a></li>
                    <li><a href="javascript:;" (click)="gotoDiv('finance-solutions')">Finance solutions</a></li>
                    <li><a href="javascript:;" (click)="gotoDiv('how-work')">How it Works</a></li>
                    <li><a href="javascript:;" (click)="gotoDiv('countries')">Countries</a></li>
                    <li><a href="javascript:;" routerLink="/login">Sign in</a></li>
                </ul>
            </div>
        </div>    
    </div>
</header>