<header>
    <div class="container">
        <div class="header-wrap d-flex">
            <div class="logo"><a href="javascript:;">Logo Here</a></div>
            <div class="header-nav">
                <ul>
                    <li><a href="javascript:;" routerLink="/">Home</a></li>
                    <li><a href="javascript:;" routerLink="/about_us">About us</a></li>
                    <li><a href="javascript:;">Finance solutions</a></li>
                    <li><a href="javascript:;">How it Works</a></li>
                    <li><a href="javascript:;">Countries</a></li>
                    <li><a href="javascript:;">Sign in</a></li>
                </ul>
            </div>
        </div>    
    </div>
</header>