<div >
  <ul>
    <li><a href="javascript:;" routerLink="/dashboard/cow_bank">Sales Contracts</a></li>
    <li><a href="javascript:;" routerLink="/dashboard/cow_bank/cattle_purchase">Cattle Purchases</a></li>
    <li><a href="javascript:;" routerLink="/dashboard/cow_bank/cattle_receipts">Cattle Receipts</a></li>
    <li><a href="javascript:;" routerLink="/dashboard/cow_bank/induction_feed_cost">Induction & Feed Cost</a></li>
    <li><a href="javascript:;" routerLink="/dashboard/cow_bank/hospitalised_cattle_record">Hospitalised Cattle Record</a></li>
    <li><a href="javascript:;" routerLink="/dashboard/cow_bank/cattle-death-record">Cattle Death Record</a></li>
    <li><a href="javascript:;" routerLink="/dashboard/cow_bank/cattle-deliveries">Cattle Deliveries</a></li>
    <li><a href="javascript:;" routerLink="/dashboard/cow_bank/reports">Reports</a></li>
  </ul>
</div>
<router-outlet></router-outlet>