<div class="full-bdr-btm d-flex edit-add-option">
	<div class="edit-add-option-l">
		<button class="edit-btn d-flex"> <span></span> <strong>EDIT</strong></button>
	</div>
	<div class="edit-add-option-r">
		<button class="btn-css green-btn-bg" routerLink="/dashboard/cow_bank/sales-contract/add">Add Sales Contract</button>
	</div>	
</div>
<div class="datatable-wrap">
	<table datatable class="row-border hover">
	  <thead>
	    <tr>
	      	<th>
	      		<div class="checkbox">
					<input id="check11" type="checkbox" name="check" value="check11">
					<label for="check11"></label>
	        	</div>
	      	</th>
	      	<th>SALES CONTRACT NUMBER</th>
	      	<th>CONTRACT STATUS</th>
	      	<th>CONSIGNMENT</th>
	      	<th>PROOF OD DELIVERY</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><div class="checkbox">
				<input id="check12" type="checkbox" name="check" value="check12">
				<label for="check12"></label>
	        </div></td>
	      <td class="green-text-bold">1234567890 #</td>
	      <td>Pending</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check12" type="checkbox" name="check" value="check12">
				<label for="check12"></label>
	        </div></td>
	      <td class="green-text-bold">1234567890 #</td>
	      <td>Pending</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check12" type="checkbox" name="check" value="check12">
				<label for="check12"></label>
	        </div></td>
	      <td class="green-text-bold">1234567890 #</td>
	      <td>Pending</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    <tr>
	      <td><div class="checkbox">
				<input id="check12" type="checkbox" name="check" value="check12">
				<label for="check12"></label>
	        </div></td>
	      <td class="green-text-bold">1234567890 #</td>
	      <td>Pending</td>
	      <td>Auto Fill</td>
	      <td>Auto Fill</td>
	    </tr>
	    
	  </tbody>
  	</table>
</div> 


