<div class="content-wrap">
  <div class="content-wrap-inr">
    <div class="content-title full-bdr-btm"><h2>Cow Cloud</h2></div>
	<div class="full-bdr-btm cloud-filter">
		<ul class="d-flex">
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>Cow EID</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>Sales Contract</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>PIC</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>Purchase Order</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>Cattle Receival</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>Induction Health</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>Company Name</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>State</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>Product Region</strong>
					<i></i>
				</div>
			</li>
			<li>
				<div class="filter-div d-flex">
					<span></span>
					<strong>Country</strong>
					<i></i>
				</div>
			</li>
		</ul>
  	</div>
    <div class="d-flex edit-add-option">
		<div class="edit-add-option-l srh-result">
			<small>Search 123456 Results</small>
		</div>
		<div class="edit-add-option-r">
			<button class="btn-css green-btn-bg" routerLink="/dashboard/cow_bank/sales-contract/add">Run Query</button>
		</div>	
	</div>
	<div class="datatable-wrap">
		<table datatable class="table row-border hover">
		  <thead>
		    <tr>
		    	<th>ANIMAL EID</th>
		      	<th>PROPERTY ID CODE (PIC)</th>
		      	<th>FARM NAME</th>
		      	<th>FARM ADDRESS</th>
		      	<th class="no-sorting"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      	<td class="green-text-bold">1234567890 #</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>
		      		<div class="d-flex summary-profile-btn">
		      	 		<button routerLink="/dashboard/cow-cloud/cow-summary" class="btn-css green-btn-bdr">Cow Summary</button>
		      	 		<button routerLink="/dashboard/cow-cloud/cow-profile" class="btn-css green-btn-bdr">Full cow profile
		      	 		</button>
		      		</div>	
		      	</td>
		    </tr>
		     <tr>
		      	<td class="green-text-bold">1234567890 #</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>
		      		<div class="d-flex summary-profile-btn">
		      	 		<button class="btn-css green-btn-bdr">Cow Summary</button>
		      	 		<button class="btn-css green-btn-bdr">Full cow profile</button>
		      		</div>	
		      	</td>
		    </tr>
		     <tr>
		      	<td class="green-text-bold">1234567890 #</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>
		      		<div class="d-flex summary-profile-btn">
		      	 		<button class="btn-css green-btn-bdr">Cow Summary</button>
		      	 		<button class="btn-css green-btn-bdr">Full cow profile</button>
		      		</div>	
		      	</td>
		    </tr>
		     <tr>
		      	<td class="green-text-bold">1234567890 #</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>
		      		<div class="d-flex summary-profile-btn">
		      	 		<button class="btn-css green-btn-bdr">Cow Summary</button>
		      	 		<button class="btn-css green-btn-bdr">Full cow profile</button>
		      		</div>	
		      	</td>
		    </tr>
		  </tbody>
	  	</table>
	</div> 
  </div>
</div>


