<div class="login-wrap">
	<div class="login-wrap-inr d-flex">
		<div class="login-wrap-inr-l">
			<div class="login-head">
				<h2>Lorem Ipsum</h2>
				<p>Welcome to Innovative Livestock Fiance. <br/> Please register a new account.</p>
			</div>
			<div class="login-body">
				<div class="login-input">
					<label>Email Address</label>
					<input type="text" name="" placeholder="majid@gmail.com">
				</div>
				<div class="login-input">
					<label>Email</label>
					<input type="password" name="" placeholder="********">
				</div>
				<div class="login-checkbox d-flex">
					<div class="checkbox">
						<input id="check1" type="checkbox" name="check" value="check1">
						<label for="check1">Remember me</label>
                    </div>
					<a href="">Forgot password</a>
				</div>
				<div class="login-btn">
					<button type="button" class="btn-css green-btn-bg">LOGIN</button>
				</div>
				<div class="term-condition">By signing up, you agree to Innovative Livestock Finance <br/> <a href=""> Terms and Conditions</a> & <a href="">Privacy Policy</a></div>
			</div>
		</div>
		<div class="login-wrap-inr-r">
			<a href=""><img src="img/svg/logo-big.svg" alt="" /></a>
		</div>
	</div>
</div>