<div class="content-wrap-body mrg-top">
	<form>
		<div class="form-information">
			<div class="form-information-title">
				<h3>COMPANY INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Company Registration Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Company Name</label>
							<input type="text" name="" placeholder="Company Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>Company Name</label>
									<input type="text" name="" placeholder="Company Name">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Company Name</label>
									<input type="text" name="" placeholder="Company Name">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Company Name</label>
							<input type="text" name="" placeholder="Company Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
				</ul>	
			</div>
		</div>		
		<div class="form-btn d-flex">
			<button class="btn-css green-btn-bg">SAVE</button>
			<button class="btn-css white-btn-bdr">CANCEL</button>
		</div>
	</form>
</div>

<router-outlet></router-outlet>
