<div class="content-wrap-body mrg-top">
	<form [formGroup]="company_form">
		<div class="form-information">
			<div class="form-information-title">
				<h3>COMPANY INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Company Registration Number</label>
							<input type="text" name="registration_no" formControlName="reg_no" placeholder="1234567890">
							<div class="cust_err_msg" *ngIf="company_form_validation && !company_form.controls['email'].valid">
								<span *ngIf="company_form.controls['reg_no'].errors['required']" class="text-danger">Company Registration number is required.</span>
								<span *ngIf="!company_form.controls['reg_no'].errors['required'] && company_form.controls['reg_no'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
							</div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Company Name</label>
							<input type="text" name="name" formControlName="name" placeholder="Company Name">
							<div class="cust_err_msg" *ngIf="company_form_validation && !company_form.controls['name'].valid">
								<span *ngIf="company_form.controls['name'].errors['required']" class="text-danger">Company name is required.</span>
								<span *ngIf="!company_form.controls['name'].errors['required'] && company_form.controls['name'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
							</div>
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="address" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="state" placeholder="State">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<select name="country" >
										<option value="">Select Country</option>
										<option *ngFor="let c of country_list" value="{{c['_id']}}">{{c['name']}}</option>
									</select>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Cell Phone Number</label>
							<input type="text" name="phone" placeholder="Cell Phone Number">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="email" name="email" placeholder="lorem@lorem.com">
						</div>
					</li>
				</ul>	
			</div>
		</div>		
		<div class="form-btn d-flex">
			<button type="submit" class="btn-css green-btn-bg" >SAVE</button>
			<button class="btn-css white-btn-bdr" routerLink="/overview">CANCEL</button>
		</div>
	</form>
</div>

<router-outlet></router-outlet>
