<div class="content-wrap">
	<div class="content-wrap-inr">
		<div class="content-title"><h2>Cow Pliance</h2></div>
		<div class="pages-link full-bdr-btm">
			<ul class="d-flex">
			    <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/cow-pliance/animal-welfare">Animal Welfare</a></li>
			    <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/cow-pliance/environmental-management">Environmental Management</a></li>
			    <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/cow-pliance/human-resources">Human Resources</a></li>
			    <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/cow-pliance/financial-management">Financial Management</a></li>
			    <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/cow-pliance/agricultural-practices">Good Agricultural Practices</a></li>
				<li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/cow-pliance/bio-security">Bio Security</a></li>
				<li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/cow-pliance/supplier-management">Customer/Contractor/Supplier Management</a></li>
			</ul>
		</div>
		<router-outlet></router-outlet>
	</div>	
</div>