<div class="content-wrap">
  	<div class="content-wrap-inr">
  		<div class="content-title full-bdr-btm"><h2>Cow Cloud</h2></div>	
      	<div class="content-title cow-summary-title"><h2>Full Cow Profile</h2></div>
      	<div class="form-information">
			<div class="form-information-title">
				<h3>INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Animal EID</label>
							<input type="text" name="" placeholder="1234657980">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Health Status</label>
							<input type="text" name="" placeholder="Health">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="Victoria">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Australia">
								</div>
							</li>
						</ul>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>VALUE CHANGES ANALYSIS OVER FEEDING PERIOD</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Grab to Show</label>
							<div class="select-wrap">
								<select>
									<option></option>
									<option></option>
									<option></option>
								</select>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-information">
			<div class="value-changes form-information">
				<img alt="" src="assets/img/graph.png">
			</div>
		</div>

		<div class="table-wrap-dtl">
			<table class="table">
				<thead>
					<tr>
						<th>DAY</th>
						<th>DATE</th>
						<th>DATE</th>
						<th>CATTLE RECEIVAL RECORD</th>
						<th>INDUCTION RECORD</th>
						<th>INDUCTION ENTRY WEIGHT</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td></td>
						<td>123456789</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2</td>
						<td></td>
						<td></td>
						<td>123456789</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>3</td>
						<td></td>
						<td></td>
						<td></td>
						<td>123456789</td>
						<td></td>
					</tr>
					<tr>
						<td>4</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>380</td>
					</tr>
					<tr>
						<td>5</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>6</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>7</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>8</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>9</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>10</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>11</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>