<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Add New Cow Record</h3>
		</div>
		<div class="title-back-btn-r">
			<button type="submit" routerLink="/dashboard/cow_bank/induction_feed_cost"><span></span> 
				<strong>BACK TO INDUCTION & FEED COST</strong>
			</button>
		</div>
	</div>
	<div class="form-information">
		<div class="form-information-title">
			<h3>RECORD INFORMATION</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Date Record Creation</label>
						<div class="calendar-wrap">
							<input type="" name="" placeholder="Date">
							<i></i>
						</div>
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Cow RFID</label>
						<input type="text" name="" placeholder="Cow RFID" />
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Date of Birth</label>
						<div class="calendar-wrap">
							<input type="" name="" placeholder="Date">
							<i></i>
						</div>
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Purchasing For Contract Number</label>
						<div class="calendar-wrap">
							<input type="" name="" placeholder="Date">
							<i></i>
						</div>
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Purchase Price</label>
						<input type="text" name="" placeholder="Cow RFID" />
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>Weight (as at today)</label>
								<input type="text" name="" placeholder="Cow RFID" />
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>AI Record of Conception</label>
								<input type="text" name="" placeholder="Cow RFID" />
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="form-btn d-flex">
			<button type="" class="btn-css green-btn-bg">SAVE</button>
			<button type="" class="btn-css white-btn-bdr">CANCEl</button>
		</div>
	</div>
</div>				