<p>
  livestock-agents works!
</p>
<button (click)="openAddAgentModal(addAgent)">Add Agents</button>
<ng-template #addAgent>
  <div class="modal-body">
      <div class="get-started-head">
        <h2>Get Started</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur nulla <br/> nec interdum scelerisque.</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="inviteAgentModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="get-started-body d-flex">
        <div class="login-input">
            <label>First Name</label>
            <input type="text" name="fname" placeholder="First Name">
        </div>
        <div class="login-input">
            <label>Sur Name</label>
            <input type="text" name="lname" placeholder="Sur Name">
        </div>

        <div class="login-input">
            <label>Company Name</label>
            <input type="text" name="company" placeholder="Company">
        </div>
        <div class="login-input">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="login-input">
            <label>Enquiring about</label>
            <div class="select-wrap">
              <select name="enquiring_about">
                <option>Enquiring 01</option>
                <option>Enquiring 02</option>
                <option>Enquiring 03</option>
            </select>
            </div>
        </div>
        <div class="login-input">
            <label>Finance Solution Required in</label>
            <div class="select-wrap">
              <select>
                <option>Finance 01</option>
                <option>Finance 02</option>
                <option>Finance 03</option>
              </select>
           </div>   
        </div>

        <div class="login-input">
            <label>Your Current Sales</label>
            <div class="select-wrap">
              <select>
                <option>Sales 01</option>
                <option>Sales 02</option>
                <option>Sales 03</option>
              </select>
            </div>  
        </div>
        <div class="login-input">
            <label>Your 1-3 year Sales Ambitions</label>
            <div class="select-wrap">
              <select>
                <option>Sales 01</option>
                <option>Sales 02</option>
                <option>Sales 03</option>
              </select>
            </div>  
        </div>
        <div class="get-started-btn">
          <button type="">SUBMIT</button>
        </div>

      </div>
  </div>
</ng-template>