<div class="full-bdr-btm d-flex filter-year-wrap">
	<div class="filter-div d-flex">
		<span></span><strong _ngcontent-c5="">Select year</strong><i></i>
	</div>
</div>
<div class="datatable-wrap">
	<table datatable class="row-border hover">
	 	<thead>
	    	<tr>
		      	<th class="no-sorting">
			      	<div class="checkbox">
						<input id="check11" type="checkbox" name="check" value="check11">
						<label for="check11"></label>
			        </div>
	      		</th>
		      	<th>ENVIRONMENTAL RECORD</th>
		      	<th>DUE DATE</th>
		      	<th>STATUS</th>
		      	<th>COMPLETED</th>
	    	</tr>
	  	</thead>
		<tbody>
	  		<tr>
	      		<td>
	      			<div class="checkbox">
						<input id="check13" type="checkbox" name="check" value="check13">
						<label for="check13"></label>
	        		</div>
	        	</td>
		      	<td class="green-text-bold">QUESTIONAIRE REF 123</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
	    	</tr>
	    	<tr>
	      		<td>
	      			<div class="checkbox">
						<input id="check14" type="checkbox" name="check" value="check14">
						<label for="check14"></label>
	        		</div>
	        	</td>
		      	<td class="green-text-bold">QUESTIONAIRE REF 123</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
	    	</tr>
	    	<tr>
	      		<td>
	      			<div class="checkbox">
						<input id="check15" type="checkbox" name="check" value="check15">
						<label for="check15"></label>
	        		</div>
	        	</td>
		      	<td class="green-text-bold">QUESTIONAIRE REF 123</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
	    	</tr>
	    	<tr>
	      		<td>
	      			<div class="checkbox">
						<input id="check16" type="checkbox" name="check" value="check16">
						<label for="check16"></label>
	        		</div>
	        	</td>
		      	<td class="green-text-bold">QUESTIONAIRE REF 123</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
		      	<td>Auto Fill</td>
	    	</tr>
	  	</tbody>
  	</table>
</div>  	
