<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Add New Farms</h3>
		</div>
		<div class="title-back-btn-r">

			<button type="submit" routerLink="/dashboard/cow_setup/company_farms"><span></span> <strong>BACK TO FARMS</strong>
			</button>
		</div>
	</div>
	<div class="content-wrap-body">
		<form>
			<div class="form-information">
				<div class="form-information-title">
					<h3>COMPANY INFORMATION</h3>	
				</div>
				<div class="column-ul-li two-column-li">
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>Property ID Code</label>
								<input type="text" name="" placeholder="Property ID Code">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Property Name</label>
								<input type="text" name="" placeholder="Property Name">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Address</label>
								<input type="text" name="" placeholder="212 Lorem ipsum Street">
							</div>
						</li>
						<li>
							<ul class="d-flex">
								<li>
									<div class="login-input">
										<label>State</label>
										<input type="text" name="" placeholder="State	">
									</div>
								</li>
								<li>
									<div class="login-input">
										<label>Country</label>
										<input type="text" name="" placeholder="Country">
									</div>
								</li>
							</ul>
						</li>
					</ul>	
				</div>
			</div>
			<div class="form-information">
				<div class="form-information-title">
					<h3>PRODUCTION REGION</h3>	
				</div>
				<div class="column-ul-li">
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>Choose From Menu</label>
								<div class="select-wrap">
					            	<select>
						                <option>Level 01</option>
						                <option>Level 02</option>
						                <option>Level 03</option>
					              	</select>
					            </div> 
							</div>
						</li>
					</ul>	
				</div>
			</div>	

			<div class="form-btn d-flex">
				<button class="btn-css green-btn-bg">SAVE</button>
				<button class="btn-css white-btn-bdr">CANCEL</button>
			</div>
		</form>
	</div>	
</div>
