<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Add New Farms</h3>
		</div>
		<div class="title-back-btn-r">

			<button type="submit" routerLink="/dashboard/cow_setup/company_farms"><span></span> <strong>BACK TO FARMS</strong></button>

		</div>
	</div>
	<div class="content-wrap-body">
		<form [formGroup]="companyfarm_form">
			<div class="form-information">
				<div class="form-information-title">
					<h3>COMPANY INFORMATION</h3>	
				</div>
				<div class="column-ul-li two-column-li">
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>Property ID Code</label>
								<input type="text" name="code" formControlName="code" placeholder="Property ID Code">
								<div class="cust_err_msg" *ngIf="company_form_validation && !companyfarm_form.controls['code'].valid">
									<span *ngIf="company_form.controls['code'].errors['required']" class="text-danger">Property id code is required.</span>
									<span *ngIf="!company_form.controls['code'].errors['required'] && company_form.controls['code'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
								</div>
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Property Name</label>
								<input type="text" name="name" formControlName="name" placeholder="Property Name">
								<div class="cust_err_msg" *ngIf="company_form_validation && !companyfarm_form.controls['name'].valid">
									<span *ngIf="company_form.controls['name'].errors['required']" class="text-danger">Property name is required.</span>
									<span *ngIf="!company_form.controls['name'].errors['required'] && company_form.controls['name'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
								</div>
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Address</label>
								<input type="text" name="address" formControlName="address" placeholder="212 Lorem ipsum Street">
							</div>
						</li>
						<li>
							<ul class="d-flex">
								<li>
									<div class="login-input">
										<label>State</label>
										<input type="text" name="state" formControlName="state" placeholder="State	">
										<div class="cust_err_msg" *ngIf="company_form_validation && !companyfarm_form.controls['state'].valid">
											<span *ngIf="company_form.controls['state'].errors['required']" class="text-danger">State is required.</span>
											<span *ngIf="!company_form.controls['state'].errors['required'] && company_form.controls['state'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
										</div>
									</div>
								</li>
								<li>
									<div class="login-input">
										<label>Country</label>
										<input type="text" name="country" placeholder="Country" formControlName="country">
										<div class="cust_err_msg" *ngIf="company_form_validation && !companyfarm_form.controls['country'].valid">
											<span *ngIf="company_form.controls['country'].errors['required']" class="text-danger">Country is required.</span>
											<span *ngIf="!company_form.controls['country'].errors['required'] && company_form.controls['country'].errors['whitespace']" class="text-danger">Please enter valid data.</span>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>	
				</div>
			</div>
			<div class="form-information">
				<div class="form-information-title">
					<h3>PRODUCTION REGION</h3>	
				</div>
				<div class="column-ul-li">
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>Choose From Menu</label>
								<div class="select-wrap" name="region" formControlName="region">
					            	<select>
						                <option>Level 01</option>
						                <option>Level 02</option>
						                <option>Level 03</option>
					              	</select>
					            </div> 
							</div>
						</li>
					</ul>	
				</div>
			</div>	
		<div class="form-btn d-flex">
			<button type="submit" class="btn-css green-btn-bg" (click)="addFarm(companyfarm_form.valid)" [disabled]="show_spinner" >SAVE <i  *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
			<button class="btn-css white-btn-bdr" routerLink="/dashboard/cow_setup/company_farms">CANCEL</button>
		</div>
	</form>
</div>	
</div>