<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Add New Consignment</h3>
		</div>
		<div class="title-back-btn-r">
			<button type="submit" routerLink="/dashboard/cattle-deliveries/consignment"><span></span> <strong>
			BACK TO CATTLE DELIVERIES</strong>
			</button>
		</div>
	</div>
	<div class="form-information">
		<div class="form-information-title">
			<h3>CONSIGNMENT INFORMATION</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Consignment Number</label>
						<input type="text" name="" placeholder="Number">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Delivering Against Contract</label>
						<div class="select-wrap">
							<select>
								<option>Contract 01</option>
								<option>Contract 02</option>
								<option>Contract 03</option>
							</select>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="form-information">
		<div class="form-information-title">
			<h3>SHIPPING FROM</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Email</label>
						<input type="text" name="" placeholder="Email">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Address</label>
						<input type="text" name="" placeholder="Address">
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>State</label>
								<input type="text" name="" placeholder="State">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Country</label>
								<input type="text" name="" placeholder="Country">
							</div>
						</li>
					</ul>
				</li>
				<li>
					<div class="login-input">
						<label>Office Phone Number</label>
						<input type="text" name="" placeholder="Number">
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>SHIPPING TO</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Email</label>
						<input type="text" name="" placeholder="Email">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Address</label>
						<input type="text" name="" placeholder="Address">
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>State</label>
								<input type="text" name="" placeholder="State">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Country</label>
								<input type="text" name="" placeholder="Country">
							</div>
						</li>
					</ul>
				</li>
				<li>
					<div class="login-input">
						<label>Office Phone Number</label>
						<input type="text" name="" placeholder="Number">
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>Seller</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Email</label>
						<input type="text" name="" placeholder="Email">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Address</label>
						<input type="text" name="" placeholder="Address">
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>State</label>
								<input type="text" name="" placeholder="State">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Country</label>
								<input type="text" name="" placeholder="Country">
							</div>
						</li>
					</ul>
				</li>
				<li>
					<div class="login-input">
						<label>Office Phone Number</label>
						<input type="text" name="" placeholder="Number">
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>Buyer</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Email</label>
						<input type="text" name="" placeholder="Email">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Address</label>
						<input type="text" name="" placeholder="Address">
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>State</label>
								<input type="text" name="" placeholder="State">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Country</label>
								<input type="text" name="" placeholder="Country">
							</div>
						</li>
					</ul>
				</li>
				<li>
					<div class="login-input">
						<label>Office Phone Number</label>
						<input type="text" name="" placeholder="Number">
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>CARRIER</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Email</label>
						<input type="text" name="" placeholder="Email">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Address</label>
						<input type="text" name="" placeholder="Address">
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>State</label>
								<input type="text" name="" placeholder="State">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Country</label>
								<input type="text" name="" placeholder="Country">
							</div>
						</li>
					</ul>
				</li>
				<li>
					<div class="login-input">
						<label>Office Phone Number</label>
						<input type="text" name="" placeholder="Number">
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>DRIVER</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Email</label>
						<input type="text" name="" placeholder="Email">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Address</label>
						<input type="text" name="" placeholder="Address">
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information load-manifest">
		<div class="form-information-title d-flex">
			<h3>LOAD MANIFEST</h3>	
			<a href="">IMPORT EXIT RECORD</a>
		</div>
		<div class="load-manifest-ul">
			<ul class="d-flex">
				<li>
					<div class="load-manifest-ul-li">
						<label>COUNT</label>
						<input type="text" name="" placeholder="">
					</div>
				</li>
				<li>
					<div class="load-manifest-ul-li">
						<label>EID NUMBER</label>
						<input type="text" name="" placeholder="">
					</div>
				</li>
				<li>
					<div class="load-manifest-ul-li">
						<label>EXIT WEIGHT (IF TAKEN INDIVIDUALLY)</label>
						<input type="text" name="" placeholder="">
					</div>
				</li>
				<li>
					<div class="load-manifest-ul-li">
						<label>TOTAL HEAD</label>
						<input type="text" name="" placeholder="">
					</div>
				</li>
				<li>
				</li>
				<li>
					<div class="load-manifest-ul-li">
						<label>TOTAL WEIGHT</label>
						<input type="text" name="" placeholder="">
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title d-flex">
			<h3>IMAGES AT LOADING</h3>
		</div>
		<div class="img-at-loading">
			<ul class="d-flex">
				<li><img src="assets/img/img-11.png" alt="" /></li>
				<li><img src="assets/img/img-11.png" alt="" /></li>
				<li><img src="assets/img/img-11.png" alt="" /></li>
			</ul>
		</div>
	</div>	

	<div class="form-information">
		<div class="form-information-title d-flex">
			<h3>DRIVERS</h3>
		</div>
		<div class="column-ul-li two-column-li">
			<ul>
				<li>
					<div class="digital-signature">Drivers Signature</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title d-flex">
			<h3>SHIPPERS</h3>
		</div>
		<div class="column-ul-li two-column-li">
			<ul>
				<li>
					<div class="digital-signature">Shippers Signature</div>
				</li>
			</ul>
		</div>
	</div>	

	<div class="form-btn d-flex">
		<button class="btn-css green-btn-bg">SAVE</button>
		<button class="btn-css white-btn-bdr">Cancel</button>
	</div>

</div> 