<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Company Registration #</h3>
		</div>
		<div class="title-back-btn-r">

			<button type="submit" routerLink="/dashboard/cow_setup/freight_companies"><span></span> <strong>BACK TO FREIGHT</strong></button>

		</div>
	</div>
	<div class="content-wrap-body">
	<form>
		<div class="form-information">
			<div class="form-information-title">
				<h3>COMPANY INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Company Registration Number</label>
							<input type="text" name="" placeholder="1234567890">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Company Name</label>
							<input type="text" name="" placeholder="Lorem Ipsum">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="Victoria">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Australia">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="login-input">
							<label>Company Email Address - General</label>
							<input type="text" name="" placeholder="lorem@ipsum.com">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Company Email Address - For Receipt of Consignment Notes</label>
							<input type="text" name="" placeholder="lorem2@ipsum.com">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Office Phone Number</label>
							<input type="text" name="" placeholder="+61 491 570 157">
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="add-another-location">
			<div><button type="button">SET/EDIT THE BUY/SELL LIMITS OF THE INDIVIDUAL AGENT</button></div>
		</div>
		<div class="form-btn d-flex">
			<button class="btn-css green-btn-bg">SAVE</button>
			<button class="btn-css white-btn-bdr">CANCEL</button>
		</div>
	</form>
</div>	
</div>
