<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Add New Death Record</h3>
		</div>
		<div class="title-back-btn-r">
			<button type="submit" routerLink="/dashboard/cow_bank/hospitalised_cattle_record"><span></span> <strong>
			BACK TO CATTLE DEATH RECORD</strong>
			</button>
		</div>
	</div>
	<div class="form-information">
		<div class="form-information-title">
			<h3>DEATH INFORMATION</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Death Record Number</label>
						<input type="text" name="" placeholder="Death Number">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Date of Death</label>
						<div class="calendar-wrap">
							<input type="text" name="" placeholder="28/08/2018">
							<i></i>
						</div>
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Animal EID Number</label>
						<div class="calendar-wrap">
							<select>
								<option>EID Number 01</option>
								<option>EID Number 02</option>
								<option>EID Number 03</option>
							</select>
						</div>
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Anticipated Cause of Death</label>
						<div class="calendar-wrap">
							<select>
								<option>Death 01</option>
								<option>Death 02</option>
								<option>Death 03</option>
							</select>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-information">
		<div class="form-information-title">
			<h3>IF ASSESSED BY VET</h3>	
		</div>
		<div class="column-ul-li two-column-li">
			<ul class="d-flex">
				<li>
					<div class="login-input">
						<label>Company Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Name</label>
						<input type="text" name="" placeholder="Name">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Practise Address</label>
						<input type="text" name="" placeholder="Practise Address">
					</div>
				</li>
				<li>
					<ul class="d-flex">
						<li>
							<div class="login-input">
								<label>State</label>
								<input type="text" name="" placeholder="State">
							</div>
						</li>
						<li>
							<div class="login-input">
								<label>Country</label>
								<input type="text" name="" placeholder="Country">
							</div>
						</li>
					</ul>
				</li>
				<li>
					<div class="login-input">
						<label>Email</label>
						<input type="text" name="" placeholder="Email">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Office Phone Number</label>
						<input type="text" name="" placeholder="Number">
					</div>
				</li>
				<li>
					<div class="login-input">
						<label>Vet Confirmed Cause of Death</label>
						<div class="calendar-wrap">
							<select>
								<option>Death 01</option>
								<option>Death 02</option>
								<option>Death 03</option>
							</select>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="form-btn d-flex">
		<button class="btn-css green-btn-bg">SAVE</button>
		<button class="btn-css white-btn-bdr">CANCEL</button>
	</div>

</div>