<div class="content-wrap-body">
	<div class="title-back-btn d-flex">
		<div class="title-back-btn-l">
			<h3>Add Contractor</h3>
		</div>
		<div class="title-back-btn-r">
			<button routerLink="/dashboard/cow_setup/customers"><span></span> <strong>BACK TO CUSTOMERS</strong></button>
		</div>
	</div>
	<div class="content-wrap-body">
	<form>
		<div class="form-information">
			<div class="form-information-title">
				<h3>COMPANY INFORMATION</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Property ID Code</label>
							<input type="text" name="" placeholder="Property ID Code">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Property Name</label>
							<input type="text" name="" placeholder="Property Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="State	">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Country">
								</div>
							</li>
						</ul>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>AUTHORISED DELIVERY LOCATIONS</h3>	
			</div>
			<div class="column-ul-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Site Name</label>
							<input type="text" name="" placeholder="Site Name">
						</div>
					</li>
				</ul>
			</div>		
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					
					<li>
						<div class="login-input">
							<label>Address</label>
							<input type="text" name="" placeholder="212 Lorem ipsum Street">
						</div>
					</li>
					<li>
						<ul class="d-flex">
							<li>
								<div class="login-input">
									<label>State</label>
									<input type="text" name="" placeholder="State	">
								</div>
							</li>
							<li>
								<div class="login-input">
									<label>Country</label>
									<input type="text" name="" placeholder="Country">
								</div>
							</li>
						</ul>
					</li>
				</ul>	
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-title">
				<h3>AUTHORISED REPRESENTITIVE FOR CONTRACT EXECUTION TO THIS SITE</h3>	
			</div>
			<div class="column-ul-li two-column-li">
				<ul class="d-flex">
					<li>
						<div class="login-input">
							<label>Name</label>
							<input type="text" name="" placeholder="Name">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Title</label>
							<input type="text" name="" placeholder="Title">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Email</label>
							<input type="text" name="" placeholder="Email">
						</div>
					</li>
					<li>
						<div class="login-input">
							<label>Phone</label>
							<input type="text" name="" placeholder="Phone">
						</div>
					</li>
				</ul>
			</div>		
		</div>
		<div class="add-another-location">
			<div><button type="button">ADD ANOTHER DELIVERY LOCATION</button></div>
		</div>

		<div class="form-btn d-flex">
			<button class="btn-css green-btn-bg">SAVE</button>
			<button class="btn-css white-btn-bdr">CANCEL</button>
		</div>
	</form>
</div>	
</div>

