<div class="content-wrap">
  <div class="content-wrap-inr">
      <div class="content-title"><h2>System Administrator</h2></div>
      <div class="pages-link full-bdr-btm">
          <ul class="d-flex">
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/system-admin">System Admin</a></li>
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/account-information">Account Information</a></li>
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/system-admin">Cow Journal Admin</a></li>
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/system-admin">Records</a></li>
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/system-admin">System Alarams</a></li>
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/system-admin">Business Development</a></li>
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/system-admin">Sales</a></li>
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/system-admin">LAM Co KPI Targets</a></li>
              <li routerLinkActive="active"><a href="javascript:;" routerLink="/dashboard/administrator/system-admin">Compliance</a></li>
          </ul>
      </div>
      <router-outlet></router-outlet>
  </div>    
</div>    