<footer>
    <div class="container">
        <div class="footer-nav">
            <ul>
                <li><a href="javascript:;">Home</a></li>
                <li><a href="javascript:;">About us</a></li>
                <li><a href="javascript:;">Finance solutions</a></li>
                <li><a href="javascript:;">How it Works</a></li>
                <li><a href="javascript:;">Countries</a></li>
                <li><a href="javascript:;">Enquiries</a></li>
            </ul>
        </div> 
    </div>
</footer>