<div class="login-wrap">
	<div class="login-wrap-inr d-flex">
		<div class="login-wrap-inr-l">
			<div class="login-head">
				<h2>Lamtech</h2>
				<p>Welcome to lamtech. <br/> Reset your password.</p>
      </div>
      <form [formGroup]="reset_form">
        <div class="login-body">
          <div class="password-filled">
            <div class="login-input">
              <label>Create Password</label>
              <input type="password" name="password" formControlName="password" [(ngModel)]="userdata.password" placeholder="********">
              <div class="cust_err_msg" *ngIf="reset_form_validation && !reset_form.controls['password'].valid">
                <span *ngIf="reset_form.controls['password'].errors['required']" class="text-danger">Password is required.</span>
                <span *ngIf="!reset_form.controls['password'].errors['required'] && reset_form.controls['password'].errors['minlength']" class="text-danger">Password must be 6 character long.</span>
              </div>
            </div>
            <div class="login-input">
              <label>Confirm Password</label>
              <input type="password" name="password" formControlName="conf"  placeholder="********">
              <div class="cust_err_msg" *ngIf="reset_form_validation && !reset_form.controls['conf'].valid">
                <span *ngIf="reset_form.controls['conf'].errors['required']" class="text-danger">Confirm password is required.</span>
                <span *ngIf="!reset_form.controls['conf'].errors['required'] && reset_form.controls['conf'].errors['minlength']" class="text-danger">Confirm password must be 6 character long.</span>
                <span *ngIf="!reset_form.controls['conf'].errors['required'] && reset_form.controls['conf'].errors['mismatch']" class="text-danger">Confirm password must match with password.</span>
              </div>
            </div>
          </div>
          <div class="regiter-btn d-flex">
            <button type="submit" class="btn-css white-btn-bdr" (click)="reset(reset_form.valid)" [disabled]="show_spinner">Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
          </div>
        </div>
      </form>
		</div>
		<div class="login-wrap-inr-r">
			<a href="javascript:;" routerLink=""><img src="assets/img/svg/logo-big.svg" alt="" /></a>
		</div>
	</div>
</div>