@media(min-width:1025px) and (max-width:1199px){
	#finance-solutions ul li {width: 33.33%; margin: 0;}
	.avout-l {width:60%;}
	.avout-r{width:40%;}
	.finance-solutions-box {max-width: 300px;margin: 0 auto;}
	.container{ padding:0 30px;}
	.login-wrap-inr-r {width:calc(100% - 500px); padding-left:50px;}
	
    
}
@media(max-width:1199px){
	img{ max-width:100%;}
	.container{max-width:100%; width:100%;}
	.header-nav ul li {margin-left:25px;}
	.header-nav ul li:last-child a {min-width:120px;}
	#finance-solutions ul li {width:33.33%; margin:0; padding:0 15px;}
	.finance-solutions-body { padding:12px 20px 22px 20px; z-index:10; position:relative;}
	.overview-body-l-body ul li {width: calc(33.33% - 16px);}	
	.overview-l-box{ width:100%; padding-top:100%; position:relative; }
	.overview-l-box a {width: 100%; height:100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
	.overview-body-l {width: calc(100% - 330px);}
	.overview-body-r{ width:300px;}
	.header {padding: 0 30px 0 0;}
	.header-srh {margin: 0 0 0 30px;}
	.content-wrap {padding:78px 30px 0 230px;}
	.form-information-title {margin: 0 0 15px;}

}

@media(max-width:1024px){
	.datatable-wrap{ width:100%; overflow:auto; padding:5px 0 15px; }
	.row-border.dataTable {min-width:1024px;}
	.datatable-wrap table.dataTable.row-border thead tr th{ padding:10px;}
	.datatable-wrap table.dataTable.row-border tbody tr td{ padding:10px;}
	.pages-link{padding:0 0 10px;} 
	.pages-link ul {white-space:nowrap; overflow-x:auto; padding:0 0 10px;}

}
@media(min-width:992px) and (max-width:1024px){
	.avout-l {width:60%;}
	.avout-r{width:40%;}
	.login-wrap-inr {padding:0 30px 0 60px; height:100%;}
	.login-wrap-inr-l {width:500px; padding:40px;}
	.login-wrap-inr-r {width: calc(100% - 500px); padding-left:50px;}
	
}

@media(min-width:768px) and (max-width:991px){
	.header-nav ul li {margin-left:10px;}
	.header-nav ul li a{ letter-spacing:0;}
	header-nav ul li:last-child a {min-width: 100px;}
	.avout-l {width:50%; padding-top:0;}
	.avout-r{width:50%;}
	.avout-l h2 {margin:0 0 5px;}
	.finance-solutions-img span {height:216px;}
	.finance-solutions-img h3 {font-size:16px; bottom:10px; left:20px;}
	.finance-solutions-body p {font-size:13px; line-height:26px;}
	.finance-solutions-body {padding:15px 10px;}
	#want-started {padding:200px 0 80px; margin:-124px 0 0;}
	#countries {background:url('../img/countries-bg.png') no-repeat center 0;}
	#finance-solutions:before {background:url('../img/grey-bg.png') no-repeat center 0;}
	.footer-nav ul li {padding:0 17px;}
	.finance-solutions-box {width: 215px; margin: 0 auto;}
	.overview-wrap .header-logo {padding:0; margin:0;}
	.login-wrap-inr {padding:0 30px 0 60px; height:100%;}
	.login-wrap-inr-l {width:400px; padding:40px;}
	.login-wrap-inr-r {width: calc(100% - 400px); padding-left:50px;}
	.login-wrap {background-size:400px auto; width:100%; height:680px; display:block;}
	.overview-body-l {width: calc(100% - 260px);}
	.overview-body-r{ width:240px;}
	.overview-l-box strong {font-size: 14px;}
	.overview-body-r ul li {padding:20px;}
	.overview-body-r ul li a span {margin: 0 15px 0 0;}

}	


@media(max-width:767px){
.header-nav {display:none;}
.weare-leading h2 {font-size:26px; line-height:normal;}
#about-section .d-flex{ flex-wrap:wrap;}
.avout-l {padding:20px 0; width:100%;}
.avout-r {width:100%; height:auto;}
#finance-solutions:before{ display:none;}
#finance-solutions{ background: url('../img/grey-bg.png') no-repeat center 0; padding:25px 0 ; margin:0;}
#finance-solutions h2 {margin:0 0 30px;}
#finance-solutions ul {flex-wrap:wrap;}
#finance-solutions ul li{ width:100%;  padding:0; }
#finance-solutions ul li + li{padding-top:25px;}
.finance-solutions-img{ width:260px; margin:0 auto;}
.finance-solutions-img span {height:260px; display:block; width:100%; }
.finance-solutions-body {padding:12px 0;}
#how-work h2 {margin:0 0 20px;}
#how-work ul {margin:0 0 20px; padding: 0; list-style: none; flex-wrap: wrap;}
#how-work ul li{ width:100%; margin:0 0 30px;}
#how-work {text-align: center;margin:0 0 30px;}
#countries p {margin:0 0 30px;}
.footer-nav ul{ flex-wrap:wrap;}
.footer-nav ul li {text-align: center; padding:10px 28px 10px 0; width:auto; display:flex; align-items:center; justify-content:center;}
.footer-nav ul li a {font-size: 11px; letter-spacing:0; text-transform: uppercase;}
#want-started h2 {font-size:25px; margin:0 0 8px;}
#want-started {padding:220px 0 60px; margin:-80px 0 0;}
#countries {background: url('../img/countries-bg.png') no-repeat center 0;padding:50px 0 0;}
#countries p br{ display:none;}
.how-work-box {text-align: center;}
.header-wrap.d-flex {padding:20px 0 30px;}
.landing-page:before {height: 558px;}
.weare-leading span {height:200px; width:300px; margin:45px auto 0;}
section#about-section {margin:0;}
.footer-nav {padding: 20px 0;}
.get-started-head button {top:8px; right:14px;}
.get-started-popup {width: auto; max-width:802px;}
.get-started-popup .modal-content {padding:20px; width:calc(100% - 30px); flex-wrap:wrap; margin:15px;}
.get-started-head {margin:0 0 25px;}
.get-started-head p br{ display:none;}
.get-started-body {width:100%;}
.get-started-body .login-input {width: 100%; margin: 0 0 20px !important; padding: 10px 15px !important;}
.select-wrap:before {right:0;}
.get-started-btn button {max-width: 264px; width:100%;}
.login-wrap {background-image:none; background-color:#fcfcfc; width:100%; height:auto; display:block; position:relative; overflow-x:hidden;}
.login-wrap:before{ background: url('../img/login-top-img.png') no-repeat center 100%; top:0; left:50%; position:absolute; width:800px; height:250px; content:''; transform:translateX(-50%); z-index:0;}
.login-wrap-inr {padding:100px 25px 25px; height:100%; z-index:10; position:relative;}
.login-wrap-inr-l {width: 100%; padding:25px;}
.term-condition br,
.login-head p br{ display:none;}
.login-wrap-inr-r{ display:none;}
.login-input {padding:10px 15px;}
.regiter-btn { margin:20px 0; flex-wrap:wrap;}
.regiter-btn button {margin: 0; flex-wrap: wrap; width: 100%; margin: 0 0 15px;}
.login-head h2 {margin: 0 0 5px;}
.login-head {margin:0 0 20px;}
.overview-head {padding: 20px 0;flex-wrap: wrap;}
.overview-head-l {flex-wrap: wrap;}

.overview-body.d-flex{ flex-wrap:wrap;}
.overview-body-l{ width:100%; margin:0 0 30px;}
.overview-body-r{width:100%; margin:0;}
.overview-setting{ display:none;}
.overview-srh{ display:none;}

.overview-body-l-body ul li { margin:0 5px 10px; width:calc(50% - 10px); height:auto; position:relative;}
.overview-l-box {width: 100%; height:auto; background:#fff; border-radius:8px; text-align:center; padding-top:100%;}
.overview-l-box a { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:transparent !important;}
.overview-l-box strong {font-size:14px; letter-spacing:0; white-space:nowrap;}
.overview-l-box:hover {text-decoration:none; background:url('../img/box-bg-h.png') no-repeat 0 0 / cover;}
.overview-l-box:hover a{ color:#fff;}
.overview-body-r{ margin:0 0 20px;} 
.overview-body-r h2{ margin:0 0 20px;}
.overview-logo a{height:36px; overflow:hidden; width:36px;}
.overview-logo a img{max-width:initial; margin-left:-25px;}
.overview-alert {margin:0 15px 0 0;}
.overview-logo {margin:0;}
.overview-body-l-body ul {margin:0 -5px;}
.mobile-srh{ display:block; margin:3px 20px 0 0;}
.srh-open .mobile-srh{ position: absolute;top: 10px; left: 10px; width: calc(100% - 20px); background: #fff; border: 0; border-radius: 8px; padding: 15px; margin: 0 auto; z-index: 1; box-shadow: 0 0 10px 0 rgba(0,0,0,.05);}
.srh-open .mobile-srh input{ width:calc(100% - 50px); height:100%; border:0; background: transparent; display:block; color:#999; font-size:13px; letter-spacing:.1em; line-height: 18px;}
.srh-open .mobile-srh button {background: #1a506b; position: absolute; top: 2px; right: 2px; width: 50px; height: calc(100% - 4px); border-radius: 0 8px 8px 0;}
.mobile-srh input{  display:none;}
.mobile-srh button{ border:0; background:transparent;}
.mobile-srh button img{width:18px; height:18px;}
.overview-body-l-head h2{ display:none;}
.overview-body-l-head p {font-size: 15px;}
.overview-body-l-head {margin:0 0 20px;}
.mobile-system-admin {display:block;}
.mobile-system-admin a{ background:#fff; border-radius: 8px; text-align: center; height: 140px; display: flex; width: 100%; align-items: center; justify-content: center; flex-direction: column;}
.mobile-system-admin span{ display:block; background:url('../img/svg/system-admin-icon.svg') no-repeat 0 0; margin:0 auto;width: 30px; height: 30px;}
.mobile-system-admin strong{ font-size:14px; letter-spacing: 0; white-space: nowrap; color:#323B61; line-height: 28px; display: block; font-weight: 700;}
.mobile-system-admin a:hover{text-decoration:none;}
.weare-leading p{min-height:66px;}
.desktop-logo{ display:none; }
.logo-icon{ display:block;}
.side-menu{ display:none;}
.content-wrap {padding:80px 15px 15px;}
.header {padding:12px 15px; height:auto;}
.header-srh{ display:none;}
.header-l {height: auto;}
.header-logo a img {width:auto; height:30px;}
.header-logo {width:auto; text-align:left; padding:0;}
.header-setting{ display:none; }
.header:before {width:100%;}
.header-alert {margin:0 30px 0 0;}
.header-user{ display:none;}
.pages-link ul {white-space: nowrap; overflow: auto; padding: 0 0 15px;}
.pages-link {padding:0; margin:0;}
.two-column-li ul {margin:0;}
.two-column-li ul li {width: 100%;padding: 0 0 10px;}
.form-btn {margin:15px 0;}
.mobile-nav{ position:relative;}
.mobile-nav span{ width:20px; height:3px; background:#839269; position:relative; display:block;}
.mobile-nav span:before{content:'';width:30px; height:3px; position:absolute; top:-7px; right:0; background:#839269;}
.mobile-nav span:after{content:''; width:10px; height:3px; position:absolute; bottom:-7px; right:0; background:#839269;}
.open-nav .side-menu{ display:block; position:fixed; top:0; left:0; width:100%; height:100%; z-index:10; text-align:center; padding:0 15px;}
.open-nav .side-menu ul { list-style: none; padding:10px 0 15px 0; overflow:auto; height:auto; max-width:320px; margin:0 auto 20px; border-top: 1px solid #39597c; border-bottom: 1px solid #39597c;}
.open-nav .side-menu ul li a {padding:12px 20px; font-weight:500; }
.open-nav .side-menu ul li.active a,
.open-nav .side-menu ul li:hover a {border-left:3px solid transparent; text-decoration:none; border-radius:6px;}

.mobile-logout{display:block;}
.mobile-logout button{border: 1px solid rgba(171, 175, 192,.5); max-width: 320px; margin: 0 auto; background: #fff;color: #333;}
.mobile-nav-profile{ display:block; margin:25px 0 15px; padding:0 0 15px;}
.mobile-nav-profile span{ margin:0 0 10px; padding:0; display:block; text-align:center;}
.mobile-nav-profile strong{ color:#fff; text-transform:uppercase; font-weight:700; } 
.close-sidebar{ display:block; position:absolute; top:10px; right:20px;}
.close-sidebar .close {float:right; font-size:30px; font-weight:400; color:#fff; text-shadow:none; opacity:1; line-height:100%;}
.edit-add-option-l button.edit-btn {padding:10px; width:40px;}
.edit-add-option-l button.edit-btn span { position:relative; top:0; left:0; transform:initial; background-size:14px; width:14px; height:14px; margin:0 auto;}
.edit-add-option-l button.edit-btn strong{ font-size:0;}
.header:after {width: 100%;}
.title-back-btn{ flex-wrap:wrap; }
.title-back-btn-l h3 {font-size:18px; margin:0 0 10px;}
.title-back-btn {margin:15px 0;}
.add-another-location button{max-width:100%;}
.datatable-wrap table.dataTable.no-footer {margin: 0;}
.dataTables_wrapper .dataTables_paginate {float: none;text-align: center;padding: 0;width: 100%;}
.content-title h2 {line-height: normal; font-size: 20px;}
.edit-add-option-r .btn-css {padding:5px 20px 6px; min-width:initial;}
.form-information + .form-information {margin-top:20px;}
.full-bdr-btm:before {width: calc(100% + 30px); left:-15px;}


}
